---
layout: main
title: Shoko Changelog
excerpt: Detailed changelog for Shoko.
permalink: /changelog.html
---

<main class = "main-content">
	<div class = "container">
		<div class = "row">

			<!--
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			| Sidebar
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			!-->


			<div class = "col-md-4 col-xl-3 order-last order-md-first">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
					<ul class = "nav nav-sidebar nav-sidebar-pill" data-accordion = "true">

						<li class = "nav-item">
							<a class = "nav-link" href = "#">Shoko Server <i class = "nav-angle"></i></a>
							<div class = "nav">
								{% for release in site.data.changelog.server.releases %}
								<a class = "nav-link" href = "#s{{ release.versionurl }}">Version {{ release.version }}</a>
								{% endfor %}
							</div>
						</li>

						<li class = "nav-item">
							<a class = "nav-link" href = "#">Shoko Desktop <i class = "nav-angle"></i></a>
							<div class = "nav">
								{% for release in site.data.changelog.desktop.releases %}
								<a class = "nav-link" href = "#d{{ release.versionurl }}">Version {{ release.version }}</a>
								{% endfor %}
							</div>
						</li>

						<li class = "nav-item">
							<a class = "nav-link" href = "#">My Anime 3 <i class = "nav-angle"></i></a>
							<div class = "nav">
								{% for release in site.data.changelog.myanime3.releases %}
								<a class = "nav-link" href = "#m{{ release.versionurl }}">Version {{ release.version }}</a>
								{% endfor %}
							</div>
						</li>

						<li class = "nav-item">
							<a class = "nav-link" href = "#">Shoko On Plex<i class = "nav-angle"></i></a>
							<div class = "nav">
								{% for release in site.data.changelog.shokoplex.releases %}
								<a class = "nav-link" href = "#p{{ release.versionurl }}">Version {{ release.version }}</a>
								{% endfor %}
							</div>
						</li>

					</ul>
				</aside>
			</div>

			<!--
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  | Content
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  !-->

			<div class = "col-md-7 col-xl-8 ml-md-auto py-8">

				<h1>{{ page.title }}</h1>
				<p class = "lead">The changelog is broken down by program, use the menu on the left to select the program followed by the version number.</p>

				<p class = "lead">A complete history can be found in the <a href = "https://ShokoAnime.com/files/other/Shoko-Archived-Changelog.txt"
																			target = "_blank" rel = "noopener">Archived Changelog</a>.</p>

				<hr class = "my-6">

				<h2 class = "h2-spacing">Shoko Server</h2>

				{% for release in site.data.changelog.server.releases %}

				<div id = "s{{ release.versionurl  }}" class = "card border hover-shadow-7 mb-8">
					<div class = "card-body bb-1 bg-light flexbox">
						<h4 class = "mb-0"><a href = "s{{ release.versionurl  }}">Version {{ release.version }} </a></h4>
						<div class = "flexbox-changelog">
							<time class = "small">{{ release.date }}</time>
							{% if release.bloglink == "NA" %}
							<time class = "small">Release Notes Not Available</time>
							{% else %}
							<time class = "small"><a href = "{{ release.bloglink }}" target = "_blank" rel = "noopener">View Release Notes</a></time>
							{% endif %}
						</div>
					</div>

					<div class = "card-body">

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th class="changelog-type">Type</th>
								<th class="changelog-git">Git Link</th>
								<th>Description</th>
							</tr>
							</thead>

							<tbody>

							{% for item in release.changes %}

							<tr data-status = "{{ item.status }}">
								<td><span class = "badge badge-{{ item.status }}">{{ item.status | capitalize }}</span></td>
								<td>
									{% if item.issue %}
									<a href = "https://github.com/ShokoAnime/ShokoServer/issues/{{ item.issue }}" target = "_blank">#{{ item.issue }}</a>
									{% endif %}
									{% if item.commit %}
									<a href = "https://github.com/ShokoAnime/ShokoServer/commit/{{ item.commit }}" target = "_blank">{{ item.commit }}</a>
									{% endif %}
								</td>
								<td>{{ item.text }}</td>
							</tr>

							{% endfor %}

							</tbody>
						</table>

					</div>
				</div>

				{% endfor %}

				<h2 class = "h2-spacing">Shoko Desktop</h2>

				{% for release in site.data.changelog.desktop.releases %}

				<div id = "d{{ release.versionurl  }}" class = "card border hover-shadow-7 mb-8">
					<div class = "card-body bb-1 bg-light flexbox">
						<h4 class = "mb-0"><a href = "d{{ release.versionurl  }}">Version {{ release.version }} </a></h4>
						<div class = "flexbox-changelog">
							<time class = "small">{{ release.date }}</time>
							{% if release.bloglink == "NA" %}
							<time class = "small">Release Notes Not Available</time>
							{% else %}
							<time class = "small"><a href = "{{ release.bloglink }}" target = "_blank" rel = "noopener">View Release Notes</a></time>
							{% endif %}
						</div>
					</div>

					<div class = "card-body">

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th class="changelog-type">Type</th>
								<th class="changelog-git">Git Link</th>
								<th>Description</th>
							</tr>
							</thead>

							<tbody>

							{% for item in release.changes %}

							<tr data-status = "{{ item.status }}">
								<td><span class = "badge badge-{{ item.status }}">{{ item.status | capitalize }}</span></td>
								<td>
									{% if item.issue %}
									<a href = "https://github.com/ShokoAnime/ShokoDesktop/issues/{{ item.issue }}" target = "_blank">#{{ item.issue }}</a>
									{% endif %}
									{% if item.commit %}
									<a href = "https://github.com/ShokoAnime/ShokoDesktop/commit/{{ item.commit }}" target = "_blank">{{ item.commit }}</a>
									{% endif %}
								</td>
								<td>{{ item.text }}</td>
							</tr>

							{% endfor %}

							</tbody>
						</table>

					</div>
				</div>

				{% endfor %}

				<h2 class = "h2-spacing">My Anime 3</h2>

				{% for release in site.data.changelog.myanime3.releases %}

				<div id = "m{{ release.versionurl  }}" class = "card border hover-shadow-7 mb-8">
					<div class = "card-body bb-1 bg-light flexbox">
						<h4 class = "mb-0"><a href = "m{{ release.versionurl  }}">Version {{ release.version }} </a></h4>
						<div class = "flexbox-changelog">
							<time class = "small">{{ release.date }}</time>
							{% if release.bloglink == "NA" %}
							<time class = "small">Release Notes Not Available</time>
							{% else %}
							<time class = "small"><a href = "{{ release.bloglink }}" target = "_blank" rel = "noopener">View Release Notes</a></time>
							{% endif %}
						</div>
					</div>

					<div class = "card-body">

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th class="changelog-type">Type</th>
								<th class="changelog-git">Git Link</th>
								<th>Description</th>
							</tr>
							</thead>

							<tbody>

							{% for item in release.changes %}

							<tr data-status = "{{ item.status }}">
								<td><span class = "badge badge-{{ item.status }}">{{ item.status | capitalize }}</span></td>
								<td>
									{% if item.issue %}
									<a href = "https://github.com/ShokoAnime/MyAnime3/issues/{{ item.issue }}" target = "_blank">#{{ item.issue }}</a>
									{% endif %}
									{% if item.commit %}
									<a href = "https://github.com/ShokoAnime/MyAnime3/commit/{{ item.commit }}" target = "_blank">{{ item.commit }}</a>
									{% endif %}
								</td>
								<td>{{ item.text }}</td>
							</tr>

							{% endfor %}

							</tbody>
						</table>

					</div>
				</div>

				{% endfor %}

				<h2 class = "h2-spacing">Shoko On Plex</h2>

				{% for release in site.data.changelog.shokoplex.releases %}

				<div id = "p{{ release.versionurl  }}" class = "card border hover-shadow-7 mb-8">
					<div class = "card-body bb-1 bg-light flexbox">
						<h4 class = "mb-0"><a href = "p{{ release.versionurl  }}">Version {{ release.version }} </a></h4>
						<div class = "flexbox-changelog">
							<time class = "small">{{ release.date }}</time>
							{% if release.bloglink == "NA" %}
							<time class = "small">Release Notes Not Available</time>
							{% else %}
							<time class = "small"><a href = "{{ release.bloglink }}" target = "_blank" rel = "noopener">View Release Notes</a></time>
							{% endif %}
						</div>
					</div>

					<div class = "card-body">

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th class="changelog-type">Type</th>
								<th class="changelog-git">Git Link</th>
								<th>Description</th>
							</tr>
							</thead>

							<tbody>

							{% for item in release.changes %}

							<tr data-status = "{{ item.status }}">
								<td><span class = "badge badge-{{ item.status }}">{{ item.status | capitalize }}</span></td>
								<td>
									{% if item.issue %}
									<a href = "https://github.com/ShokoAnime/ShokoOnPlex/issues/{{ item.issue }}" target = "_blank">#{{ item.issue }}</a>
									{% endif %}
									{% if item.commit %}
									<a href = "https://github.com/ShokoAnime/ShokoOnPlex/commit/{{ item.commit }}" target = "_blank">{{ item.commit }}</a>
									{% endif %}
								</td>
								<td>{{ item.text }}</td>
							</tr>

							{% endfor %}

							</tbody>
						</table>

					</div>
				</div>

				{% endfor %}

			</div>

		</div>
	</div>
</main>


