---
layout: main
title: Frequently Asked Questions
permalink: /faq.html
excerpt: A list of the most FAQ when using Shoko.
---

<main class = "main-content">
	<div class = "container">
		<div class = "row">

			<!--
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			| Sidebar
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			!-->


			<div class = "col-md-2 col-xl-2 order-last order-md-first">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
					{% include _sidebar.html %}
				</aside>
			</div>


			<!--
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  | Content
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  !-->

			<div class = "col-md col-xl m2-md-auto py-8">
				<article>

					<h1>{{ page.title }}</h1>
					<p class = "lead">This is an ongoing list of frequently asked questions that has been complied in one location to better help everyone. as
						these are just frequently asked questions you may not see the answer to your question. We suggest checking the related page in the
						documentation for your answer, if you still can’t find your answer feel free to ask us directly on our discord server using the <strong>support</strong> link
						at the top.</p>

					<hr class = "my-6">

					<h2 id = "general">General</h2>

					<div class = "accordion-spacing">

						{% for question in site.data.faq.general.faq %}

						<div class = "accordion" id = "accordion-1">
							<div class = "card">
								<h6 class = "card-title">
									<a class="collapsed" data-toggle = "collapse" href = "#{{ question.link }}">{{ question.question }}</a>
								</h6>

								<div id = "{{ question.link }}" class = "collapse" data-parent = "#accordion-1">
									<div class = "card-body"> {% for line in question.answer %}<p>{{ line }}</p>{% endfor %}</div>
								</div>
							</div>
						</div>

						{% endfor %}

					</div>

					<h2 id = "server">Shoko Server </h2>

					<div class = "accordion-spacing">

						{% for question in site.data.faq.server.faq %}

						<div class = "accordion" id = "accordion-2">
							<div class = "card">
								<h6 class = "card-title">
									<a class="collapsed" data-toggle = "collapse" href = "#{{ question.link }}">{{ question.question }}</a>
								</h6>

								<div id = "{{ question.link }}" class = "collapse" data-parent = "#accordion-2">
									<div class = "card-body"> {% for line in question.answer %}<p>{{ line }}</p>{% endfor %}</div>
								</div>
							</div>
						</div>

						{% endfor %}

					</div>


					<h2 id = "desktop">Shoko Desktop</h2>

					<div class = "accordion-spacing">

						{% for question in site.data.faq.desktop.faq %}

						<div class = "accordion" id = "accordion-3">
							<div class = "card">
								<h6 class = "card-title">
									<a class="collapsed" data-toggle = "collapse" href = "#{{ question.link }}">{{ question.question }}</a>
								</h6>

								<div id = "{{ question.link }}" class = "collapse" data-parent = "#accordion-3">
									<div class = "card-body"> {% for line in question.answer %}<p>{{ line }}</p>{% endfor %}</div>
								</div>
							</div>
						</div>

						{% endfor %}

					</div>

					<h2 id = "plex">Shoko On Plex</h2>

					<div class = "accordion-spacing">

						{% for question in site.data.faq.shokoplex.faq %}

						<div class = "accordion" id = "accordion-4">
							<div class = "card">
								<h6 class = "card-title">
									<a class="collapsed" data-toggle = "collapse" href = "#{{ question.link }}">{{ question.question }}</a>
								</h6>

								<div id = "{{ question.link }}" class = "collapse" data-parent = "#accordion-4">
									<div class = "card-body"> {% for line in question.answer %}<p>{{ line }}</p>{% endfor %}</div>
								</div>
							</div>
						</div>

						{% endfor %}

					</div>

					<h2 id = "anime-buddy">Anime Buddy</h2>

					<div class = "accordion-spacing">

						{% for question in site.data.faq.animebuddy.faq %}

						<div class = "accordion" id = "accordion-5">
							<div class = "card">
								<h6 class = "card-title">
									<a class="collapsed" data-toggle = "collapse" href = "#{{ question.link }}">{{ question.question }}</a>
								</h6>

								<div id = "{{ question.link }}" class = "collapse" data-parent = "#accordion-5">
									<div class = "card-body"> {% for line in question.answer %}<p>{{ line }}</p>{% endfor %}</div>
								</div>
							</div>
						</div>

						{% endfor %}

					</div>

				</article>
			</div>

			<div class = "col-md-2 col-xl-2 right-sidebar">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky">
					<nav class = "nav nav-toc-2 mt-3" data-accordion = "true">
						<a class="nav-link" href = "#general">General</a>
						<a class="nav-link" href = "#server">Shoko Server</a>
						<a class="nav-link" href = "#desktop">Shoko Desktop</a>
						<a class="nav-link" href = "#plex">Shoko On Plex</a>
						<a class="nav-link" href = "#anime-buddy">Anime Buddy</a>
					</nav>
				</aside>
			</div>

		</div>
	</div>
</main>


