<!-- Footer -->
<footer class="site-footer">
		<div class="container">
				<a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

				<div class="row">
						<div class="col-md-6 col-sm-6">
								<p>Copyright &copy; 2017. All right reserved</p>
						</div>
						<div class="col-md-6 col-sm-6">
								<ul class="footer-menu">
										<li ><a href="https://docs.shokoanime.com">Home</a></li>
										<li><a href="https://shokoanime.com">Website</a></li>
										<li><a href="https://docs.shokoanime.com/changelog.html">Changelog</a></li>
										<li><a href="https://discord.gg/vpeHDsg" target="_blank">Support</a></li>
										<li><a href="https://github.com/shokoanime/ShokoDocs" target="_blank">Github</a></li>
								</ul>
						</div>
				</div>
		</div>
</footer>
<!-- END Footer -->