<footer class="site-footer">
	<div class="container-fluid"><a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright &copy; 2017. All rights reserved</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="footer-menu">
					<li class="active"><a href="http://docs.shokoanime.com">Home</a></li>
					<li><a href="http://shokoanime.com">Website</a></li>
					<li><a href="http://docs.shokoanime.com/changelog.html">Changelog</a></li>
					<li><a href="https://discord.gg/vpeHDsg" target="_blank">Support</a></li>
					<li><a href="https://github.com/japanesemediamanager/ShokoDocs" target="_blank">Github</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>