<!-- Footer -->
<footer class = "footer">
	<div class = "container">
		<div class = "row gap-y align-items-center">

			<div class = "col-md-9">
				<div class = "nav justify-content-center justify-content-md-start">
					<a class = "nav-link" href = "https://docs.shokoanime.com">Home</a>
					<a class = "nav-link" href = "https://shokoanime.com">Website</a>
					<a class = "nav-link" href = "https://docs.shokoanime.com/changelog.html">Changelog</a>
					<a class = "nav-link" href = "https://discord.gg/vpeHDsg" target = "_blank" rel="noopener">Support</a>
					<a class = "nav-link" href = "https://github.com/ShokoAnime/ShokoDocs" target = "_blank" rel="noopener">Github</a>
				</div>
			</div>

			<div class = "col-md-3 text-center text-md-right">
				<a href = "http://thetheme.io"> © 2018 Shoko . All Rights Reserved.
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->