<section class = "github-callout">
	<div class = "alert alert-info" role = "alert">
		<h4 class = "alert-heading">Hey You! Help Make This Page <strong>Even Better</strong></h4>
		<p>Shoko Docs is for all our users, so lets make sure it covers everything!</p>

		<p>Got an idea on how to improve this page? <strong>Write it!</strong>. Is the material covered incorrect or outdated? <strong>Fix It!</strong>. What
			may seem simple or unimportant to you may help someone else, so <strong>make that change!</strong> If you need help feel free to ask for it on our
			Discord Server using <strong>Support</strong> link above.</p>
		<a href = "https://github.com/shokoanime/Shokodocs/blob/master{{ page.url }}" target = "_blank" rel = "noopener">{{ page.title }} on Github</a>
	</div>
</section>

