<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">

<title>Shoko Docs </title>

<!-- Styles -->
<link href={{ "/assets/css/theDocs.all.min.css" | relative_url }} rel="stylesheet">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href={{ "/apple-touch-icon.png" | relative_url }}>
<link rel="icon" href={{ "/assets/img/favicon.png" | relative_url }}>