<meta charset = "utf-8">
<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
<meta name = "viewport" content = "width=device-width, initial-scale=1">
{% if page.excerpt %}
<meta name = "description" content = "{{ page.excerpt | strip_html }}">{% endif %}
<meta name = "keywords" content = "{{ page.tags | join: ', ' }}">

<!-- Facebook -->
<meta property = "og:title" content = "{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
<meta property = "og:description" content = "{{ site.description }}">
<meta property = "og:image" content = "https://shokoanime.com/files/other/favicon.png">
<meta property = "og:url" content = "https://docs.shokoanime.com">
<meta name = "twitter:card" content = "https://shokoanime.com/files/other/favicon.png">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

<!-- Styles -->
<link href = "{{ '/assets/css/shoko.css' | relative_url }}" rel = "stylesheet" title = "default">
<link href = "{{ '/assets/css/lightbox.css' | relative_url }}" rel = "stylesheet" title = "default">

<!-- Fonts -->
<link href = "https://fonts.googleapis.com/css?family=Barlow:300,400,600,700" rel = "stylesheet">
<link href = "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel = "stylesheet">

<!-- Favicons -->
<link rel = "apple-touch-icon" href = {{ "/assets/img/favicon.png" | relative_url }}>
<link rel = "icon" href = {{ "/assets/img/favicon.png" | relative_url }}>
