<!-- Header -->
<header class = "header text-white bg-dark pt-9 pb-5" style = "background-image: linear-gradient(-20deg, #2b5876 0%, #4f5b7f 100%);"></header>
<!-- End Header -->

<!-- Navbar -->
<nav class = "navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar = "sticky">
	<div class = "container">

		<div class = "navbar-left">
			<button class = "navbar-toggler" type = "button">&#9776;</button>
			<a class = "navbar-brand" href = "{{site.url}}">
				<img class = "logo-dark" src = {{ "/assets/img/logo-dark.png" | relative_url }} alt="logo">
				<img class = "logo-light" src = {{ "/assets/img/logo-light.png" | relative_url }} alt="logo">
			</a>
		</div>

		<section class = "navbar-mobile">
			<span class = "navbar-divider d-mobile-none"></span>

			<nav class = "nav nav-navbar">
				<a class = "nav-link" href = "https://docs.shokoanime.com">Home</a>
				<a class = "nav-link" href = "https://shokoanime.com">Website</a>
				<a class = "nav-link" href = "https://docs.shokoanime.com/changelog.html">Changelog</a>
				<a class = "nav-link" href = "https://discord.gg/vpeHDsg" target = "_blank" rel="noopener">Support</a>
				<a class = "nav-link" href = "https://github.com/ShokoAnime/ShokoDocs" target = "_blank" rel="noopener">Github</a>
				<li class = "nav-item nav-disabled">
					<a class = "nav-link" href = "#">Theme <span class = "arrow"></span></a>
					<nav class = "nav">
						<a class = "nav-link" href = "#">Light</a>
						<a class = "nav-link" href = "#">Dark</a>
					</nav>
				</li>
			</nav>
		</section>

	</div>
</nav>
<!-- End Navbar -->