		<!-- Top navbar & branding -->
		<nav class="navbar navbar-default">
				<div class="container">

						<!-- Toggle buttons and brand -->
						<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
										<span class="glyphicon glyphicon-option-vertical"></span>
								</button>

								<button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
								</button>

								<a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
						</div>
						<!-- END Toggle buttons and brand -->

						<!-- Top navbar -->
						<div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
								<ul class="nav navbar-nav navbar-right">
										<li class="active"><a href="index.html">Home</a></li>
										<li><a href="https://shokoanime.com">Website</a></li>
										<li><a href="https://docs.shokoanime.com/changelog.html">Changelog</a></li>
										<li><a href="https://discord.gg/vpeHDsg" target="_blank">Support</a></li>
										<li><a href="https://github.com/ShokoAnime/ShokoDocs" target="_blank">Github</a></li>
								</ul>
						</div>
						<!-- END Top navbar -->

				</div>
		</nav>
		<!-- END Top navbar & branding -->