<li>
		<a href = "#">Frame</a>
		<ul>
				<li {% if page.url == "/desktop2/frame.html" %} class="active" {% endif %}><a href="/desktop2/frame.html">Frame</a></li>
				<li {% if page.url == "/desktop2/queue.html" %} class="active" {% endif %}><a href="/desktop2/queue.html">Queue Processor</a></li>
				<li {% if page.url == "/desktop2/action.html" %} class="active" {% endif %}><a href="/desktop2/action.html">Action Items</a></li>
				<li {% if page.url == "/desktop2/pinned.html" %} class="active" {% endif %}><a href="/desktop2/pinned.html">Pinned</a></li>
				<li {% if page.url == "/desktop2/search.html" %} class="active" {% endif %}><a href="/desktop2/search.html">Search</a></li>
		</ul>
</li>
<li><a href = "#">Collection</a>
		<ul>
				<li {% if page.url == "/desktop2/filters.html" %} class="active" {% endif %}><a href="/desktop2/filters.html">Filters</a></li>
		</ul></li>
<li><a href = "#">Calender</a></li>
<li><a href = "#">My Lists</a></li>
<li><a href = "#">Playlists</a></li>
<li><a href = "#">Utilities</a></li>
<li><a href = "#">Server</a></li>
<li><a href = "#">User Items</a></li>
<li><a href = "#">Settings</a></li>
<li><a href = "#">Plugins</a></li>
<li><a href = "#">Themes</a></li>

</ul>
</aside>