<li {% if page.url contains "/server/" %} class="active" {% endif %}><a href="#">Shoko Server</a>
		<ul>
				<ul class="dropable">
						<li {% if page.url contains "/server/db/" %} class="active" {% endif %}>
								<a href="#">Database Setup</a>
								<ul>
										<li {% if page.url == "/server/db/sqlite.html" %} class="active" {% endif %}><a href="/server/db/sqlite.html">SQLite</a></li>
										<li {% if page.url == "/server/db/mysql.html" %} class="active" {% endif %}><a href="/server/db/mysql.html">MySQL</a></li>
										<li {% if page.url == "/server/db/sqlserver.html" %} class="active" {% endif %}><a href="/server/db/sqlserver.html">SQL Server</a></li>
								</ul>
						</li>
				</ul>
				<ul class="dropable">
					<li {% if page.url contains "/server/install_" %} class="active" {% endif %}><a class="has-child" href="#">Installing Shoko Server</a>
						<ul>
							<li {% if page.url == "/server/install_windows.html" %} class="active" {% endif %}><a href="/server/install_windows.html">Shoko Server On Windows</a></li>
							<li {% if page.url == "/server/install_linux.html" %} class="active" {% endif %}><a href="/server/install_linux.html">Shoko Server On Linux</a></li>
						</ul>
					</li>
				</ul>
					<ul class="dropable">
						<li {% if page.url contains "/server/config/" %} class="active" {% endif %}> <a class="has-child" href="#">Configuring Shoko Server</a>
								<ul>
										<li {% if page.url == "/server/config/actions.html" %} class="active" {% endif %}><a href="/server/config/actions.html">Actions Tab</a></li>
										<li {% if page.url == "/server/config/import.html" %} class="active" {% endif %}><a href="/server/config/import.html">Import Folders Tab</a></li>
										<li {% if page.url == "/server/config/cloud.html" %} class="active" {% endif %}><a href="/server/config/cloud.html">Cloud Accounts Tab</a></li>
										<li {% if page.url == "/server/config/integrity.html" %} class="active" {% endif %}><a href="/server/config/integrity.html">Integrity Tab</a></li>
										<li {% if page.url == "/server/config/settings.html" %} class="active" {% endif %}><a href="/server/config/settings.html">Settings Tab</a></li>
										<li {% if page.url == "/server/config/setuptab.html" %} class="active" {% endif %}><a href="/server/config/setuptab.html">Setup Tab</a></li>
								</ul>
						</li>
				</ul>

		</ul>
</li>

<li {% if page.url contains "/desktop/" %} class="active" {% endif %}>
		<a href="#">Shoko Desktop</a>
		<ul>
				<li {% if page.url contains "/desktop/index.html" %} class="active" {% endif %}><a href="/desktop/index.html">Setup Shoko Desktop</a></li>
				<ul class="dropable">
						<li {% if page.url contains "/desktop/using/" %} class="active" {% endif %}>
								<a class="has-child" href="#">Using Shoko Desktop</a>
								<ul>
										<li {% if page.url == "/desktop/using/dashboard.html" %} class="active" {% endif %}><a href="/desktop/using/dashboard.html">Dashboard Tab</a></li>
										<li {% if page.url == "/desktop/using/collection.html" %} class="active" {% endif %}><a href="/desktop/using/collection.html">Collection Folders Tab</a></li>
										<li {% if page.url == "/desktop/using/playlists.html" %} class="active" {% endif %}><a href="/desktop/using/playlists.html">Playlist Tab</a></li>
										<li {% if page.url == "/desktop/using/bookmarks.html" %} class="active" {% endif %}><a href="/desktop/using/bookmarks.html">Bookmarks Tab</a></li>
										<li {% if page.url == "/desktop/using/server.html" %} class="active" {% endif %}><a href="/desktop/using/server.html">Server Tab</a></li>
										<li {% if page.url contains "/desktop/using/utilities.html" %} class="active" {% endif %}><a href="/desktop/using/utilities.html">Utilities Tab</a></li>
										<li {% if page.url == "/desktop/using/settings.html" %} class="active" {% endif %}><a href="/desktop/using/settings.html">Settings Tab</a></li>
										<li {% if page.url == "/desktop/using/pinned.html" %} class="active" {% endif %}><a href="/desktop/using/pinned.html">Pinned Tab</a></li>
										<li {% if page.url == "/desktop/using/search.html" %} class="active" {% endif %}><a href="/desktop/using/search.html">Search Tab</a></li>
								</ul>
						</li>
				</ul>
		</ul>
</li>

<li>
		<a href="#">My Anime 3</a>
		<ul>
				<li><a href="#">Setup My Anime 3</a></li>
				<li><a href="#">Configuring My Anime 3</a></li>
		</ul>
</li>

<li>
		<a href="#">Shoko On Plex</a>
		<ul>
				<li><a href="#">Setup Shoko On Plex</a></li>
				<li><a href="#">Configuring Shoko On Plex</a></li>
		</ul>
</li>

<li>
		<a href="#">Anime Buddy</a>
		<ul>
				<li><a href="#">Setup Anime Buddy</a></li>
				<li><a href="#">Configuring Anime Buddy</a></li>
		</ul>
</li>

<li {% if page.url == "/faq.html" %} class="active" {% endif %}><a href="/faq.html">Frequently Asked Questions</a></li>
<li {% if page.url == "/changelog.html" %} class="active" {% endif %}><a href="/changelog.html">Changelog</a></li>
</ul>

</aside>