<li>
		<a href = "#">Frame</a>
		<ul>
				<li><a href = "#">Frame</a></li>
				<li><a href = "#">Queue Processor</a></li>
				<li><a href = "#">Action Items</a></li>
				<li><a href = "#">Pinned</a></li>
				<li><a href = "#">Search</a></li>
		</ul>
</li>
<li><a href = "#">Collection</a></li>
<li><a href = "#">Calender</a></li>
<li><a href = "#">My Lists</a></li>
<li><a href = "#">Playlists</a></li>
<li><a href = "#">Utilities</a></li>
<li><a href = "#">Server</a></li>
<li><a href = "#">User Items</a></li>
<li><a href = "#">Settings</a></li>

</ul>
</aside>