<li>
		<a href="#">Shoko Server</a>
		<ul>
				<li><a href="/server/setup.html">Setup Shoko Server</a></li>
				<li><a href="/server/docker.html">Shoko Server On Linux</a></li>
				<ul class="dropable">
						<li>
								<a class="has-child" href="#">Configuring Shoko Server</a>
								<ul>
										<li><a href="/server/actions.html">Actions Tab</a></li>
										<li><a href="/server/import.html">Import Folders Tab</a></li>
										<li><a href="/server/cloud.html">Cloud Accounts Tab</a></li>
										<li><a href="/server/integrity.html">Integrity Tab</a></li>
										<li><a href="/server/settings.html">Settings Tab</a></li>
										<li><a href="/server/setup.html">Setup Tab</a></li>
								</ul>
						</li>
				</ul>
				<ul class="dropable">
						<li>
								<a href="#">Database Setup</a>
								<ul>
										<li><a href="/server/mysql.html">MySQL</a></li>
										<li><a href="/server/sqlserver.html">SQL Server</a></li>
								</ul>
						</li>
				</ul>
		</ul>
</li>

<li>
		<a href="#">Shoko Desktop</a>
		<ul>
				<li><a href="#">Setup Shoko Desktop</a></li>
				<ul class="dropable">
						<li>
								<a href="#">Using Shoko Desktop</a>
								<ul>
										<li><a href="#">Actions Tab</a></li>
										<li><a href="#">Import Folders Tab</a></li>
										<li><a href="#">Cloud Accounts Tab</a></li>
										<li><a href="#">Integrity Tab</a></li>
										<li><a href="#">Settings Tab</a></li>
										<li><a href="#">Setup Tab</a></li>
								</ul>
						</li>
				</ul>
		</ul>
</li>

<li>
		<a href="#">My Anime 3</a>
		<ul>
				<li><a href="#">Setup My Anime 3</a></li>
				<li><a href="#">Configuring My Anime 3</a></li>
		</ul>
</li>

<li>
		<a href="#">Shoko On Plex</a>
		<ul>
				<li><a href="#">Setup Shoko On Plex</a></li>
				<li><a href="#">Configuring Shoko On Plex</a></li>
		</ul>
</li>

<li>
		<a href="#">Anime Buddy</a>
		<ul>
				<li><a href="#">Setup Anime Buddy</a></li>
				<li><a href="#">Configuring Anime Buddy</a></li>
		</ul>
</li>

<li><a href="#">Frequently Asked Questions</a></li>
<li><a href="#">Changelog</a></li>
</ul>

</aside>