{% if site.data.sidebar.menu[0] %}
	{% for item in site.data.sidebar.menu %}
	{% capture path %}{{ item.link }}{% endcapture %}
	{% if path != empty and page.url contains path %}{% assign active = true %}{% else %}{% assign active = false %}{% endif %}
	{% if item.page %}
	<li {% if active %} class="active" {% endif %}>
		<a href="{{ path }}">{{ item.page }}</a>
	</li>
	{% endif %}
	<li {% if active %} class="active" {% endif %}><a {% if active %} class="open active" {% endif %} href="#">{{ item.title }}</a>
		{% if item.items %}
		<ul>
			<ul class="dropable">
				{% for item2 in item.items %}
				{% capture path %}{{ item.link }}{{ item2.link }}{% endcapture %}
				{% if path != empty and page.url contains path %}{% assign active = true %}{% else %}{% assign active = false %}{% endif %}
				{% if item2.page %}
				<li {% if active %} class="active" {% endif %}>
					<a href="{{ path }}">{{ item2.page }}</a>
				</li>
				{% endif %}
				<li {% if path != empty and page.url contains path %} class="active" {% endif %}>
				<a {% if active %} class="open active" {% endif %} href="#">{{ item2.title }}</a>
					{% if item2.items %}
					<ul>
						{% for item3 in item2.items %}
						{% capture path %}{{ item.link }}{{ item2.link }}{{ item3.link }}{% endcapture %}
							<li {% if page.url == path %} class="active" {% endif %}><a href="{{ path }}">{{ item3.page }}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				{% endfor %}
			</ul>
		</ul>
		{% endif %}
	</li>
	{% endfor %}
{% endif %}

</aside>