<ul class = "nav nav-sidebar nav-sidebar-pill" data-accordion = "true">
	<li class = "nav-item">
		<a class = "nav-link {% if page.url contains '/server/' %}active{% endif %}" href = "#">Shoko Server<i class = "nav-angle"></i></a>
		<div class = "nav">

			<a class = "sidenav-title">Installing Shoko Server</a>
			<a class = "nav-link {% if page.url == '/server/install_windows.html' %}active{% endif %}"  href = "/server/install_windows.html">Shoko Server On Windows</a>
			<a class = "nav-link {% if page.url == '/server/install_linux.html' %}active{% endif %}" href = "/server/install_linux.html">Shoko Server On Linux</a>
			<a class = "sidenav-title">Using Shoko Server</a>
			<a class = "nav-link {% if page.url == '/server/config.html' %}active{% endif %}" href = "/server/config.html">Configure Settings</a>
			<a class = "nav-link {% if page.url == '/server/webui.html' %}active{% endif %}" href = "/server/webui.html">Configure Web UI</a>

		</div>
	</li>

	<li class = "nav-item">
		<a class = "nav-link {% if page.url contains '/desktop/' %}active{% endif %}" href = "#">Shoko Desktop <i class = "nav-angle"></i></a>
		<div class = "nav">

			<a class = "sidenav-title">Installing Shoko Desktop</a>
			<a class = "nav-link {% if page.url == '/desktop/install_windows.html' %}active{% endif %}" href = "/desktop/install_windows.html">Installing Shoko Desktop</a>
			<a class = "sidenav-title">Configuring Shoko Desktop</a>
			<a class = "nav-link {% if page.url == '/desktop/utilities.html' %}active{% endif %}" href = "/desktop/utilities.html">Utilities</a>

		</div>
	</li>

	<li class = "nav-item">
		<a class = "nav-link {% if page.url contains '/myanime3/' %}active{% endif %}" href = "#">My Anime 3 <i class = "nav-angle"></i></a>
		<div class = "nav">

			<a class = "nav-link {% if page.url == '/myanime3/install.html' %}active{% endif %}" href = "/myanime3/install.html">Installing My Anime 3</a>
			<a class = "nav-link {% if page.url == '/myanime3/config.html' %}active{% endif %}" href = "/myanime3/config.html">Configuring My Anime 3</a>

		</div>
	</li>

	<li class = "nav-item">
		<a class = "nav-link {% if page.url contains '/plex/' %}active{% endif %}" href = "#">Shoko On Plex <i class = "nav-angle"></i></a>
		<div class = "nav">

			<a class = "nav-link {% if page.url == '/plex/install.html' %}active{% endif %}" href = "#">Installing Shoko On Plex</a>
			<a class = "nav-link {% if page.url == '/plex/config.html' %}active{% endif %}" href = "#">Configuring Shoko On Plex</a>

		</div>
	</li>

	<li class = "nav-item {% if page.url == '/faq.html' %}active{% endif %}"><a href = {{ "faq.html" |  relative_url  }}>Frequently Asked Questions</a></li>

	<li class = "nav-item {% if page.url == '/changelog.html' %}active{% endif %}"><a  href = {{ "changelog.html" |  relative_url  }}>Changelog</a></li>
</ul>


