---
layout: main
title: Configuring My Anime 3
excerpt: How to configure My Anime 3.
permalink: myanime3/config.html
---

<main class = "main-content">
	<div class = "container">
		<div class = "row">

			<!--
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			| Sidebar
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			!-->

			<div class = "col-md-2 col-xl-2 order-last order-md-first">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
					{% include _sidebar.html %}
				</aside>
			</div>

			<!--
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  | Content
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  !-->

			<div class = "col-md col-xl m2-md-auto py-8">
				<article>

					<h1>{{ page.title }}</h1>

					<p class = "lead">With My Anime 3 installed, its time to cover the various settings within the plugin.</p>

					<hr class = "my-6">

					<section>

						<h2 id = "access">Accessing My Anime 3</h2>

						<p>Like with any MediaPortal plugin, you can access My Anime 3 from the <strong>plugins</strong> list on your menu.</p>

						<p>Once its loaded, the filter list will appear offering a variety of default filters as well as any user added ones. If you want to
							<strong>create new filters or edit existing ones</strong>, you'll need to use Shoko Desktop. Select a filter that's populated,
							depending on the amount of entries in that filter it might take a few seconds to load. Additionally, if you notice a series
							information or images are incorrect or missing, its probably due to an incorrect TvDB linking. You'll need to
							use Shoko Desktop to fix the series TvDB link.</p>

					</section>

					<section>

						<h2 id = "options">Options Menu</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>Once you've loaded a filter, you can access the options menu by scrolling over to the right or using your keyboard/remove to
									navigate over there.</p>

								<p>Some of the settings, such as Display and Filters allow you to change how your series information and images are shown. There
									are four different display types you can choose from each with their own advantages so pick the one that best suits your
									needs.</p>

							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/myanime3/My-Anime-3-Options.png" data-lightbox = "image-1"><img
										src = "/assets/img/myanime3/My-Anime-3-Options.png" class = "img-fluid" alt = "My Anime 3- Display Settings"></a>
							</div>
						</div>

					</section>

					<section>

						<h2 id = "continue">Continue Watching</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>Similar to the filter by the same name, the Continue Watching will show you all series you're currently watching and allows
									you to jump back in right where you left off.</p>

								<p>Right-clicking on a series will bring up the series panel that's similar to the one shown when in a series. You can mark the
									current episode as watched, play the previous episode or go to the series panel for the selected series.</p>

							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/myanime3/My-Anime-3-Continue-Watching.png" data-lightbox = "image-1"><img
										src = "/assets/img/myanime3/My-Anime-3-Continue-Watching.png" class = "img-fluid" alt = "My Anime 3- Continue Watching"></a>
							</div>
						</div>

					</section>

					<section>

						<h2 id = "utilities">Utilities</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>The utilities section contains similar functionality available in Shoko Server such as Run Import, Scan Drop Folders and Sync
									AniDB Data. If you need to access additional actions, you'll need to use either Shoko Server or the Web UI.</p>

								<p>The utilities section also shows the current running command queues and provides a list of unrecognized files that can be
									re-scanned My Anime 3, however manually linking or running AvDump on for these files can only be done in Shoko Desktop. </p>

							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/myanime3/My-Anime-3-Utilities.png" data-lightbox = "image-1"><img
										src = "/assets/img/myanime3/My-Anime-3-Utilities.png" class = "img-fluid" alt = "My Anime 3 - Utilities"></a>
							</div>
						</div>

					</section>

					<section>

						<h2 id = "calendar">Calendar</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>The calendar is pulled from AniDB and provides a quick look at upcoming shows. </p>

								<p>Right-Clicking on a series will allow you to either bookmark the show or create an empty series for it. Please note, even on
									a <strong>family friendly account</strong>, content marked as <strong>NSFW</strong> will still show up on the calendar.</p>

							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/myanime3/My-Anime-3-Calendar.png" data-lightbox = "image-1"><img
										src = "/assets/img/myanime3/My-Anime-3-Calendar.png" class = "img-fluid" alt = "My Anime 3 - Calendar"></a>
							</div>
						</div>

					</section>

					<section>

						<h2 id = "random">Random</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>The random section will pull a random series or episode from your collection.</p>

								<p>There are various settings you can change to filter your results such as removing series/episodes marked as watched. Please
									note, it may take a couple seconds for a result to appear.</p>

							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/myanime3/My-Anime-3-Random.png" data-lightbox = "image-1"><img
										src = "/assets/img/myanime3/My-Anime-3-Random.png" class = "img-fluid" alt = "My Anime 3 - Random"></a>
							</div>
						</div>

					</section>

					<section>

						<h2 id = "recommendations">Recommendations</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>Recommendations are only generated if you've previously rated <strong>at least one seres</strong>. Once done you'll start to
									see recommendations populate based off series you've rated. Series you've rated that have the same recommendations will be
									shown first followed by everything else.</p>

							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/myanime3/My-Anime-3-Recommendations.png" data-lightbox = "image-1"><img
										src = "/assets/img/myanime3/My-Anime-3-Recommendations.png" class = "img-fluid"
										alt = "My Anime 3 - Recommendations"></a>
							</div>
						</div>

					</section>

					{% include _github_callout.html %}

				</article>
			</div>

			<div class = "col-md-2 col-xl-2 right-sidebar">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky">
					<nav class = "nav nav-toc-2 mt-3" data-accordion = "true">
						<a class = "nav-link" href = "#access">Accessing My Anime 3</a>
						<a class = "nav-link" href = "#options">Options Menu</a>
						<a class = "nav-link" href = "#continue">Continue Watching</a>
						<a class = "nav-link" href = "#utilities">Utilities</a>
						<a class = "nav-link" href = "#calendar">Calendar</a>
						<a class = "nav-link" href = "#random">Something Random</a>
						<a class = "nav-link" href = "#recommendations">Recommendations</a>
					</nav>
				</aside>
			</div>

		</div>
	</div>
</main>
