.sidenav-title {
  color: #279ceb  !important;
  font-weight: 700;
}

.flexbox-changelog {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}

.table-bordered tbody tr:nth-of-type(odd) {
  background-color: #E9F0F8;
}

.badge-added {
  color: #fff;
  background-color: #3cd458;
}

.badge-changed {
  color: #fff;
  background-color: #50a1ff;
}

.badge-fixed {
  color: #fff;
  background-color: #ffba00;
}

.badge-removed {
  color: #fff;
  background-color: #ff4954;
}

.h2-spacing {
  padding-bottom: 0.85em;
}

.changelog-type {
  width: 0.5em;
}

.changelog-git {
  width: 0.5em;
}

.accordion-spacing {
  margin: 1em 0 1em 0;
}

.github-callout{
  padding-top: 2em;
}

.nav-disabled {
  display: none;
}

.nav-break {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.lm {
  margin-left: 1.5em;
}

.right-sidebar {
  font-size: 0.8125rem;
}

.active > a {
  color: #50a1ff !important;
  font-weight: 500;
}

.nav-item > a {
  font-weight: 500;
}