/* Accordion */

.accordion-header {
	background: #23262f;
	border-radius: 0.5rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.accordion-body {
	border: 1px solid var(--easy-table-border);
	border-radius: 0.5rem;
	padding: 1rem;
}

/* EasyTable */

.easy-wrapper {
	border: 1px solid var(--easy-table-border);
	margin: 2rem 0;
}

.easy-header {
	align-items: center;
	background: var(--easy-table-row);
	border-bottom: 1px solid var(--easy-table-border);
	display: flex;
	font-weight: 600;
	padding: 1rem;
}

.easy-header-center,
.easy-row-center {
	text-align: center;
}

.easy-row {
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

.easy-row:nth-child(odd) {
	background: var(--easy-table-row);
	border-top: 1px solid var(--easy-table-border);
}

.easy-row > div {
	margin: auto 0;
}

.easy-row > div > p {
	margin: 0 !important;
}

.easy-row > div > code {
	display: flex;
	overflow-x: auto;
	white-space: pre;
	width: 85%;
}

/* Changelog */

.changelog-wrapper {
	display: flex;
	flex-direction: column;
	font-size: 1.125rem;
	max-width: 100%;
	padding-bottom: 2rem;
	width: 1146px;
}

.changelog-info {
	border-bottom: 2px solid var(--tertiary-background);
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.changelog-version,
.changelog-date,
.changelog-link {
	font-size: 1.25rem;
	font-weight: 500;
}

.changelog-divider {
	font-size: 1.25rem;
	margin: 0 1rem;
}

.changelog-type {
	font-weight: 500;
	text-transform: capitalize;
}

.changelog-item-wrapper {
	margin: 1rem 0;
}

.changelog-added {
	color: var(--highlight-color-1);
}

.changelog-changed {
	color: var(--highlight-color-5);
}

.changelog-fixed {
	color: var(--highlight-color-4);
}

.changelog-removed {
	color: var(--highlight-color-2);
}
