/* ---------------------------------- */
/* Accordion */
/* ---------------------------------- */

.accordion-wrapper {
	margin-top: 0 !important;
}

.accordion-header {
	border-bottom: 2px solid var(--sl-color-hairline);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

details[open] > .accordion-header {
	color: var(--sl-color-text-accent);;
}

.accordion-body {
	border-bottom: 2px solid var(--sl-color-hairline);
	padding: 1rem 1rem 2rem 1rem;
}

/* ---------------------------------- */
/* EasyTable */
/* ---------------------------------- */

.easy-wrapper {
	border: 2px solid var(--sl-color-hairline);
	border-radius: 0.5rem;
	margin: 2rem 0 !important;
}

.easy-header {
	align-items: center;
	background: var(--sl-color-bg-nav);
	border-bottom: 2px solid var(--sl-color-hairline);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	display: flex;
	font-weight: 600;
	padding: 1rem;
}

.easy-header-center,
.easy-row-center {
	text-align: center;
}

.easy-row {
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

.easy-row:nth-child(odd) {
	background: var(--sl-color-bg-nav);
	border-top: 2px solid var(--sl-color-hairline);
}

.easy-row:last-child {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.easy-row > div {
	margin: auto 0;
}

.easy-row > div > p {
	margin: 0 !important;
}

.easy-row > div > code {
	display: flex;
	overflow-x: auto;
	white-space: pre;
	width: 85%;
}

/* ---------------------------------- */
/* Changelog */
/* ---------------------------------- */

.changelog-wrapper {
	display: flex;
	flex-direction: column;
	font-size: 1.125rem;
	max-width: 100%;
}

.changelog-info {
	border-bottom: 2px solid var(--sl-color-hairline);
	display: flex;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.changelog-version,
.changelog-date,
.changelog-link {
	font-weight: 500;
	margin-top: 0 !important;
}

.changelog-divider {
	margin: 0 1rem !important;
}

.changelog-type {
	font-weight: 500;
	text-transform: capitalize;
}

.changelog-item-wrapper {
	list-style: none;
	margin: 1rem 0 !important;
	padding-left: 1em;
	text-indent: -1em;
}

.changelog-item {
	font-size: 1rem;
	margin-bottom: 0;
	margin-top: 0.25rem !important;
}

.changelog-added {
	color: var(--changelog-added);
}

.changelog-changed {
	color: var(--changelog-changed);
}

.changelog-fixed {
	color: var(--changelog-fixed);
}

.changelog-removed {
	color: var(--changelog-removed);
}

/* ---------------------------------- */
/* Docker Compose & Input */
/* ---------------------------------- */

.docker-compose-wrapper {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
	row-gap: 0.5rem;
}

.docker-input-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 !important;
}

.docker-input-text {
	font-size: 1rem;
	font-weight: 600;
}

.docker-input-hr {
	margin: 0.5rem 0;
}

.docker-input-input {
	background: var(--sl-color-bg-nav);
	border: none;
	border-radius: 5px;
	max-width: 400px;
	padding: 0.5rem;
	text-align: center;
	width: 100%;
}

.docker-input-volume-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 !important;
	width: 100%;
}

.docker-input-volume-row {
	column-gap: 1rem;
	display: flex;
	justify-content: end;
}

.docker-input-volume-text {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.docker-input-button {
	background: var(--sl-color-bg-nav);
	border: 2px solid var(--sl-color-hairline);
	border-radius: 5px;
	box-shadow: 10px var(--sl-color-hairline);
	cursor: pointer;
	margin: 0 !important;
	padding: 0.5rem 2rem;
}

.docker-input-button:hover {
	background: var(--sl-color-text-accent);
	color: var(--sl-color-text-invert);
}
