@import "components.css";

:root {
  --sl-content-width: 900px;
  --easy-table-border: #404659;
  --easy-table-row: #23262f;
}

.title-second {
  color: var(--sl-color-white);
}

/* Markdown Overwrite */
.sl-markdown-content :not(a, strong, em, del, span, input, code) + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
  margin-top: 1rem;
}

.sl-markdown-content > h2 {
  margin: 2rem 0 !important;
}

  /* Hide Edit & Last Updated in Footer */
.meta.sl-flex {
  @media (min-width: 1152px) {
    display: none;
  }
}
