/* Remove default header bottom border and place one on the header itself. */
.content-panel {
	border-top: none !important;
}

#_top {
	border-bottom: 1px solid var(--sl-color-hairline);
	padding-bottom: 1.5rem
}

/* Fixed weird padding between header and content. */
.content-panel {
	padding-bottom: 0;
	padding-top: 1rem;
}

/* Custom Page Style */
@media (min-width: 50rem) {

	/* Remove header background. */
	.page > .header {
		background: var(--sl-color-bg);
		border-bottom: 1px solid var(--sl-color-hairline);
	}

	/* Set search outer container max width. */
	.header.sl-flex > .sl-flex {
		max-width: 56.25rem;
	}

	/* Set search max width. */
	.header > .sl-flex * button {
		margin: 0 auto;
		max-width: 40rem;
	}

	/* Remove sidebar background. */
	.sidebar-pane {
		background: none;
		border-inline-end: 1px solid var(--sl-color-hairline);
	}

	/* Increase sidebar top padding. */
	.sidebar-content {
		padding-top: 1.5rem;
	}

}

/* Remove left border from ToC. */
.right-sidebar {
	border: none;
}

/* Push down ToC */
.right-sidebar-panel {
	border: none !important;
	padding-top: 2rem;
}

/* Remove ToC header styling. */
.right-sidebar-panel * h2 {
	border: none;
	padding-top: 0
}

/* Add left border only to ToC contents. */
.right-sidebar-panel > .sl-container {
	border-inline-start: 1px solid var(--sl-color-gray-6);
	padding-left: 1rem;
}

/* Fix H1 & H2 header margin. */
.sl-markdown-content > h2, h3 {
	margin: 2rem 0 !important;
}

/* Fix for making Copy button top-aligned. */
.copy {
	margin-top: 0.25rem !important;
}

/* Add class to image parent tag. */
.img-parent {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0 !important;
	width: 100%;
}

.img-parent > img {
	border-radius: 0.5rem;
}

/* Make Strong text match callout header color. */
.starlight-aside--note * strong,
.starlight-aside--caution * strong,
.starlight-aside--tip * strong,
.starlight-aside--danger * strong {
	color: var(--sl-color-asides-text-accent);
}


/* Changing how asides look. */
.starlight-aside {
	border: 1px solid;
	border-radius: .5rem;
	color: var(--sl-color-white);
	font-size: .9375rem;
	margin: 2rem 0 !important;
}

.starlight-aside__title,
.starlight-aside__icon {
	align-items: center;
	font-size: .9375rem;
}

.starlight-aside--caution {
	background-color: color-mix(in srgb, var(--sl-color-orange-low), transparent 75%);
	border-color: var(--sl-color-orange);
}

.starlight-aside--danger {
	background-color: color-mix(in srgb, var(--sl-color-red-low), transparent 75%);
	border-color: var(--sl-color-red);
	--sl-color-asides-text-accent: var(--sl-color-red-high);
}

.starlight-aside--tip {
	background-color: color-mix(in srgb, var(--sl-color-purple-low), transparent 75%);
	border-color: var(--sl-color-purple);
	--sl-color-asides-text-accent: var(--sl-color-purple-high);
}

.starlight-aside--note {
	background-color: color-mix(in srgb, var(--sl-color-blue-low), transparent 75%);
	border-color: var(--sl-color-blue);
	--sl-color-asides-text-accent: var(--sl-color-blue-high);
}

/* Reduce padding on Hero section. */
.hero {
	padding-block: clamp(2.5rem, calc(1rem + 4vmin), 10rem)
}

/* Remove H1 styling on Hero header. */
.hero h1,
#popular-topics,
#last-updated-pages {
	border: none !important;
	padding-bottom: 0 !important;
}

/* So ::before works properly on ToC. */
.position-indicator a:first-child {
	position: relative;
}

.position-indicator a[aria-current=true]:first-of-type::before {
	background-color: var(--sl-color-text-accent);
	border-radius: 2px;
	content: "";
	height: 18px;
	left: -17px;
	opacity: 1;
	position: absolute;
	transition: top .25s cubic-bezier(0, 1, .5, 1), background-color .5s, opacity .25s;
	width: 1px;
	z-index: 0;
}

/* Remove H1 styling on FAQ. */
#general,
#shoko-server,
#shoko-metadata--shoko-relay,
#shokofin {
	border: none !important;
	margin: 3rem 0 !important;
	padding-top: 0 !important;
}

/* Change previous/next font size. */
.link-title {
	font-size: var(--sl-text-lg);
}

/* Reduce margin for previous/next button. */
.meta.sl-flex {
	margin-top: 1.5rem;
}
