/* Remove default header bottom border and place one on the header itself. */
.content-panel {
	border-top: none !important;
}

#_top {
	border-bottom: 1px solid var(--sl-color-hairline);
	padding-bottom: 1.5rem
}

/* Fixed weird padding between header and content. */
.content-panel {
	padding-bottom: 0;
	padding-top: 1rem;
}

/* Custom Page Style */
@media (min-width: 50rem) {

	/* Remove header background. */
	.header.astro-dqmhwrg4 {
		background: var(--sl-color-bg);
		border-bottom: 1px solid var(--sl-color-hairline);
	}

	/* Set search outer container max width. */
	.header.sl-flex.astro-aaphstyd > .sl-flex.astro-aaphstyd {
		max-width: 56.25rem;
	}

	/* Set search max width. */
	button:where(.astro-dn3vl26n)[data-open-modal]{
		margin: 0 auto;
		max-width: 40rem;
	}

	/* Remove sidebar background. */
	.sidebar-pane {
		background: none;
		border-inline-end: 1px solid var(--sl-color-hairline);
	}

	/* Increase sidebar top padding. */
	.sidebar-content {
		padding-top: 1.5rem;
	}

	/* Change header top margin. */
	.top-level:where(.astro-4mjceqbz)>li:where(.astro-4mjceqbz)+li:where(.astro-4mjceqbz) {
		margin-top: 0.2rem;
	}

	/* Change sidebar nav header size. */
	.large:where(.astro-dlw5qa7i) {
		font-size: var(--sl-text-sm);
	}

	/* Increase sidebar header padding. */
	summary:where(.astro-4mjceqbz) {
		padding: 0.5em var(--sl-sidebar-item-padding-inline);
	}

	ul:where(.astro-4mjceqbz) ul:where(.astro-4mjceqbz) li:where(.astro-4mjceqbz):has(>a[aria-current=page]) {
		border-inline-start-color: var(--sl-color-text-accent);
	}

}

/* Remove left border from ToC. */
.right-sidebar {
	border: none;
}

/* Push down ToC */
.right-sidebar-panel {
	border: none !important;
	padding-top: 2rem;
}

/* Remove ToC header styling. */
.right-sidebar-panel * h2 {
	border: none;
	padding-top: 0
}

/* Add left border only to ToC contents. */
.right-sidebar-panel > .sl-container {
	border-inline-start: 1px solid var(--sl-color-gray-6);
	padding-left: 1rem;
}

/* Fix H1 & H2 header margin. */
.sl-markdown-content > h2, h3 {
	margin: 2rem 0 !important;
}

/* Fix for making Copy button top-aligned. */
.copy {
	margin-top: 0.25rem !important;
}

/* Add class to image parent tag. */
.img-parent {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0 !important;
	width: 100%;
}

.img-parent > img {
	border-radius: 0.5rem;
}

/* Make Strong text match callout header color. */
.starlight-aside--note * strong,
.starlight-aside--caution * strong,
.starlight-aside--tip * strong,
.starlight-aside--danger * strong {
	color: var(--sl-color-asides-text-accent);
}

.starlight-aside {
	border-radius: 5px;
}

/* Reduce padding on Hero section. */
.hero {
	padding-block: clamp(2.5rem, calc(1rem + 4vmin), 10rem)
}

/* Remove H1 styling on Hero header. */
.hero h1,
#popular-topics,
#last-updated-pages {
	border: none !important;
	padding-bottom: 0 !important;
}

/* So ::before works properly on ToC. */
.position-indicator a:first-child {
	position: relative;
}

.position-indicator a[aria-current=true]:first-of-type::before {
	background-color: var(--sl-color-text-accent);
	border-radius: 2px;
	content: "";
	height: 18px;
	left: -17px;
	opacity: 1;
	position: absolute;
	transition: top .25s cubic-bezier(0, 1, .5, 1), background-color .5s, opacity .25s;
	width: 1px;
	z-index: 0;
}

/* Remove H1 styling on FAQ. */
#general,
#shoko-server,
#shoko-metadata--shoko-relay,
#shokofin {
	border: none !important;
	margin: 3rem 0 !important;
	padding-top: 0 !important;
}
