/*
    1. Colors
*/

/*
---------------------------------------------
    1. Colors
---------------------------------------------
*/

:root {
	
	/* General */
	--backgroundColor: #1a1e27;
	--borderColor: #4a6174;
	--cardBackground: #272b35;
	--fontColor: #dadada;

	/* Navbar */
	--navBackground: #1a1e27;
	--siteTitle: #fff;
	--navLinkNormal: #efefef;
	--navLinkHover: #5DADE2;

	/* Page Header */
	--pageHeaderBackground: #272b35;
	--pageHeaderGithub: #2196F3;

	/* SideNav */
	--sideNavTitle: #40a0e8;
	--searchBackground: #1a1e27;
	--searchfontColor: #dadada;

	/* Page Navigation */
	--pageIndicator: #dadada;
	--pageIndicatorActive: #40a0e8;

	/* Footer */
	--footerBackground: #1a1c1d;

	/* Tables */
	--headerBackground: #212229d9;
	--bodyBackground: #272b35;
	--rowBackground: #212229d9;

	/* Changelog Badges */
	--badgetext: #000000;
	--added: #29b943;
	--changed: #1f7ae2;
	--fixed: #e0e000;
	--removed: #d43841;

	/* FAQ */
	--accordionBackground: #212229d9;
	--accordionCard: #2b353e;
	--accordionArrow: #dadada;

	/* Tabs */
	--tabsActive: #8dc0e8;
	--tabsActiveBackground: #fffff;
	--tabsActiveBorder: #2196F3;
	--tabsActiveBorderBottom: #2196F3;

	/* Code */
	--codeLeftBorder: #006cab;

	/* Links */
	--linkNormal: #ce4574;
	--linkActive: #2196F3;
}
