:root {
	--backgroundColor: #1a1e27;
	--borderColor: #4a6174;
	--featureBackground: #121519;
	--featureWrapper: #0A0B1D;
	--fontColor: #708198;
	--fontColorAlt: #ffffff;
	--fontStrong: #5c76bf;
	--footerBackground: #1a1c1d;
	--linkHover: #2196F3;
	--linkNormal: #c34961;
	--rowBackgroundEven: #1a1e27;
	--rowBackgroundOdd: #212229;
	--navBackground: #15254B;
}