/*
    1. Colors
*/

/*
---------------------------------------------
    1. Colors
---------------------------------------------
*/

:root {

	/* General */
	--backgroundColor: #181a1b;
	--borderColor: #4a6174;
	--cardBackground: #ffffff;
	--fontColor: #fff;

	/* Navbar */
	--navBackground: #4b5b7d;
	--siteTitle: #ffffff;
	--navLinkNormal: #efefef;
	--navLinkHover: #5DADE2;

	/* Page Header */
	--pageHeaderBackground: #181a1b;
	--pageHeaderGithub: #006cab;

	/* SideNav */
	--sideNavTitle: #006cab;

	/* Page Navigation */
	--pageIndicator: #eaeff4;
	--pageIndicatorActive: #006cab;

	/* Footer */
	--footerBackground: #1a1c1d;

	/* Tables */
	--headerBackground: #f9f9fb;
	--rowBackground: #1e2022;

	/* Changelog Badges */
	--badgetext: #ffffff;
	--added: #3cd458;
	--changed: #50a1ff;
	--fixed: #ffba00;
	--removed: #ff4954;

	/* FAQ */
	--accordionBackground: #f9f9fb;
	--accordionCard: #ffffff;
	--accordionArrow: #757575;

	/* Tabs */
	--tabsActive: #2196F3;
	--tabsActiveBackground: #fffff;
	--tabsActiveBorder: #2196F3;
	--tabsActiveBorderBottom: #2196F3;

	/* Code */
	--codeLeftBorder: #006cab;

	/* Links */
	--linkNormal: #E91E63;
	--linkActive: #2196F3;
}
