/*
    1. Colors
    2. Sidenav
*/

/*
---------------------------------------------
    1. Colors
---------------------------------------------
*/

:root {

	/* General */
	--backgroundColor: #333;
	--fontColor: #fff;
	--borderColor: #dae1e7;

	/* Link */
	--linkNormal: #006cab;
	--linkActive: #ff4edf;
}

/*
---------------------------------------------
    2. Sidenav
---------------------------------------------
*/

.nav-title {
	color: #333;
}