:root {
	--backgroundColor: #ffffff;
	--borderColor: #dae1e7;
	--featureBackground: #F6F7F8;
	--featureWrapper: #0A0B1D;
	--fontColor: #708198;
	--fontColorAlt: #ffffff;
	--fontStrong: #5c76bf;
	--footerBackground: #1a1c1d;
	--linkHover: #2196F3;
	--linkNormal: #ff4065;
	--rowBackgroundEven: #ffffff;
	--rowBackgroundOdd: #ffffff;
	--navBackground: #15254B;
}