:root {
    --backgroundColor: #ffffff;
    --borderColor: #dae1e7;
    --breadcrumbBackground: #F9F9F9;
    --featureBackground: #F6F7F8;
    --featureWrapper: #0A0B1D;
    --fontColor: #708198;
    --fontColorAlt: #ffffff;
    --fontStrong: #5c76bf;
    --linkHover: #2196F3;
    --linkNormal: #ff4065;
    --navBackground: #F5F6F8;
    --rowBackgroundEven: #ffffff;
    --rowBackgroundOdd: #e9f0f8;
}