/*
    1. General
    2. NavBar
    3. Page Header
    4. Page Content
    5. Sidenav Navigation
    6. Footer
    7. Changelog
    8. Tables
    9. FAQ
    10. Tabs
    11. Search
    12. Lightbox
    13. Media Queries
*/

/*
---------------------------------------------
    1. General
---------------------------------------------
*/

*, *:before, *:after {
	box-sizing: inherit;
}

::placeholder {
	color: var(--fontColor)
}

a {
	color: var(--linkNormal);
	font-weight: 600;
}

a:hover {
	color: var(--linkActive) !important;
	text-decoration: underline;
}

body {
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	display: none;
	font-family: "Muli", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.9;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--fontColor);
	font-family: "Exo 2", sans-serif;
	letter-spacing: 0.5px;
}

h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--backgroundColor) inset !important;
}

pre {
	background-color: var(--backgroundColor);
	border: var(--borderColor) 1px solid;
	border-left: 5px solid var(--codeLeftBorder);
	color: var(--fontColor);
	margin: 1rem 0;
	overflow: auto;
	padding: 1em;
}

thead {
	background-color: var(--headerNormalBackground);
}

.border {
	border: 1px solid var(--borderColor) !important;
}

.container-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 1720px;
}

.img-fluid {
	padding: 1rem 0;
}

.row-wrapper {
	height: 100%;
	min-height: calc(100vh - 342px);
}

/*
---------------------------------------------
    2. NavBar
---------------------------------------------
*/

.navbar-wrapper {
	background-color: var(--navBackground);
}

.navbar-info {
	padding: 0.80rem 3rem;
}

.nav-links {
	padding-top: 0.50rem;
}

.nav-links > a:hover {
	text-decoration: none;
}

.navbar-title > h2 {
	color: var(--siteTitle);
	margin: 0;
}

.navbar-title > h2:hover {
	color: var(--linkActive);
}

.navbar-title:hover {
	text-decoration: none;
}

.navbar-divider {
	background-color: #fff;
	display: inline-block;
	height: 20px;
	margin-bottom: 1rem;
	margin-left: 2.5rem;
	margin-top: auto;
	opacity: 0.15;
	width: 1px;
}

.navbar-nav-link {
	color: var(--navLinkNormal);;
	font-weight: 600;
	padding-right: 2rem;
}

.navbar-options {
	margin-left: auto;
	padding-top: 0.50rem;
}

.navbar-options > a {
	color: var(--navLinkNormal);
}

.navbar-options > a:hover {
	color: var(--navLinkHover);
	text-decoration: none;
}

/*
---------------------------------------------
    3. Page Header
---------------------------------------------
*/

.page-header-wrapper {
	background-color: var(--pageHeaderBackground);
	border-bottom: var(--borderColor) 1px solid;
	height: 160px;
}

.page-header-info {
	display: block;
	padding: 2rem 0;
	text-align: center;
}

.page-header-subtitle {
	font-size: 1.125rem;
	padding-top: 0.5rem;
}

.page-header-subtitle-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 0.5rem;
}

.page-header-update-info {
	padding-right: 1rem;
	padding-top: 0.3rem;
}

.page-header-github-info {
	color: var(--pageHeaderGithub);
	display: flex;
}

.page-header-github-link {
	padding-left: 0.5rem;
	padding-top: 0.3rem;
}

/*
---------------------------------------------
    4. Page Content
---------------------------------------------
*/

.page-wrapper {
	max-width: 1055px !important;
	padding: 5rem 2rem 5rem 3rem;
}

.page-left-column {
	max-width: 300px;
}

.page-nav-wrapper {
	max-width: 265px;
	padding-left: 0;
}

.page-nav-link-wrapper {
	margin-top: 3rem;
	padding-left: 1rem;
	padding-right: 0;
	position: sticky;
	top: 70px;
}

.page-nav-title {
	color: var(--fontColor);
	font-size: 0.9125rem;
	font-weight: 700;
	padding: 0.21em 0;
}

.page-nav-link {
	color: var(--linkNormal);
	font-size: 0.8125rem;
	font-weight: 600;
	padding: 0.21em 0;
}

.page-nav-link:hover {
	color: var(--linkActive);
}

.page-nav-link.active {
	color: var(--linkActive);
}

.page-nav-link.active:before {
	background-color: var(--pageIndicatorActive);
	bottom: 0;
	content: '';
	display: inline-block;
	height: 1.1rem;
	left: -20px;
	position: relative;
	top: 4px;
	width: 2px;
	z-index: 1;
}

.page-nav-link:before {
	background-color: var(--pageIndicator);
	bottom: 0;
	content: '';
	left: -4px;
	position: absolute;
	top: 0;
	width: 2px;
}

/*
---------------------------------------------
    5. Sidenav Navigation
---------------------------------------------
*/

.sidenav-wrapper {
	border-right: var(--borderColor) 1px solid;
	max-width: 270px;
	padding: 5rem 1rem;
}

.nav-menus-wrapper {
	padding: .5rem .5rem;
	position: sticky;
	top: 50px;
}

.nav-sidebar {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	flex-direction: column;
	font-weight: 400;
}

.nav-sidebar .nav {
	display: none;
	flex-wrap: nowrap;
	font-size: 0.875rem;
	margin-left: 0.75rem;
}

.nav-sidebar .nav-link {
	-webkit-box-pack: justify;
	color: var(--fontColor);
	display: flex;
	justify-content: space-between;
	padding: 3px 0;
}

.nav-title-wrapper .nav-link {
	margin-left: 0.75rem;
}

.nav-link.active {
	color: var(--linkActive);
}

.nav-sidebar .nav-item {
	flex-shrink: 0;
	margin: 4px 0;
	overflow: hidden;
	padding-right: 5px;
}

.nav-item > a {
	color: var(--fontColor)
}

.nav-item > a:hover {
	color: var(--linkActive);
	text-decoration: none;
}

.nav-sidebar .nav-angle.rotate {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.nav-sidebar .nav-angle {
	display: inline-block;
	font-size: 0.85rem;
	font-style: normal;
	margin-top: 2px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
}

.nav-sidebar .nav-angle::before {
	content: ">";
}

a.nav-title {
	color: var(--sideNavTitle) !important;
	font-weight: 700;
}

/*
---------------------------------------------
    6. Footer
---------------------------------------------
*/

.footer-wrapper {
	background-color: var(--footerBackground);
	border-top: var(--borderColor) 1px solid;
	height: 80px;
	overflow: hidden;
	width: 100%;
}

.footer-info {
	display: flex;
	height: 100%;
	padding: 0 3rem;
}

.footer-links {
	padding-top: 1.75rem;
}

.footer-links > a {
	color: var(--fontColor);
}

.footer-links > a:hover {
	color: var(--linkActive);
	text-decoration: none;
}

.footer-links-spacer {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-copyright {
	margin-left: auto;
	padding-top: 1.75rem;
}

/*
---------------------------------------------
    7. Changelog
---------------------------------------------
*/

.changelog-wrapper {
	max-width: 1055px !important;
	padding: 6rem 2rem 5rem 3rem;
}

.single-changelog-wrapper {
	margin-bottom: 3rem;
}

.changelog-header {
	align-items: center;
	background-color: var(--headerChangelogBackground);
	border-bottom: none !important;
	border-top: none !important;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	color: var(--fontColor);
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem !important;
}

.changelog-info {
	align-items: flex-end;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	justify-content: space-between;
}

.changelog-date {
	margin-bottom: 0;
	margin-top: 0;
}

.changelog-body {
	background-color: var(--bodyBackground);
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.changelog-body > .table {
	margin-bottom: 0;
}

.changelog-type {
	width: 0.5em;
}

.changelog-git {
	width: 0.5em;
}

/* Changelog Badges */

.badge {
	padding: 0.5em;
	width: 70px;
}

.badge-added {
	background-color: var(--added);
	color: var(--badgetext);
}

.badge-changed {
	background-color: var(--changed);
	color: var(--badgetext);
}

.badge-fixed {
	background-color: var(--fixed);
	color: var(--badgetext);
}

.badge-removed {
	background-color: var(--removed);
	color: var(--badgetext);
}

/*
---------------------------------------------
    8. Tables
---------------------------------------------
*/

.table {
	color: var(--fontColor);
	font-size: 0.9375rem;
}

.table-bordered {
	border: 1px solid var(--borderColor);
}

.table-bordered td, .table-bordered th {
	border: 1px solid var(--borderColor);
}

.table-bordered tbody tr:nth-of-type(even) {
	background-color: var(--rowBackgroundEven);
}

.table-bordered tbody tr:nth-of-type(odd) {
	background-color: var(--rowBackgroundOdd);
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid var(--borderColor);
}

/*
---------------------------------------------
    9. FAQ
---------------------------------------------
*/

.faq-header {
	margin: 2rem 0;
}

.accordion .card {
	background-color: var(--accordionCard);
	border: 1px solid var(--borderColor) !important;
}

.accordion .card-title {
	background-color: var(--accordionBackground);
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.accordion .card-title a {
	color: var(--fontColor);
	display: block;
	font-weight: 500;
	padding: 16px 33px;
}

.accordion .card-title a::before {
	border-left: 1px solid var(--accordionArrow);
	border-top: 1px solid var(--accordionArrow);
	content: '';
	display: inline-block;
	height: 6px;
	margin-bottom: 3px;
	margin-left: -33px;
	margin-right: 20px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: .2s linear;
	transition: .2s linear;
	width: 6px;
}

.accordion .card-title a.collapsed::before {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

.card-body {
	padding: 1.25rem 3rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: var(--backgroundColor) var(--backgroundColor) var(--borderColor);
}

/*
---------------------------------------------
    10. Tabs
---------------------------------------------
*/

.tab-pane {
	display: none;
}

.nav-tabs {
	border-bottom: 1px solid var(--borderColor);
}

.nav-tabs .nav-link {
	color: var(--fontColor);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: var(--tabsActiveBackground);
	border-color: var(--tabsActiveBorder) var(--tabsActiveBorder) var(--tabsActiveBorderBottom);
	color: var(--tabsActive);
}

.tab-content {
	padding: 1rem 0;
}

/*
---------------------------------------------
    11. Search
---------------------------------------------
*/

.search-wrapper {
	margin-top: 2rem;
}

.search-input {
	color: var(--searchfontColor);
	background-color: var(--searchBackground);
	border-top: 0;
	border-right: 0;
	border-left: 0;
	outline: 0;
}

/*
---------------------------------------------
    12. Lightbox
---------------------------------------------
*/

html.lb-disable-scrolling {
	overflow: hidden;
	/* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}

.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	max-height: none;
	border-radius: 3px;

	/* Image border */
	border: 4px solid white;
}

.lightbox a img {
	border: none;
}

.lb-outerContainer {
	position: relative;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px;

	/* Background color behind image.
		 This is visible during transitions. */
	background-color: white;
}

.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(/assets/images/loading.gif) no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(/assets/images/prev.png) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(/assets/images/next.png) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-data {
	padding: 0 4px;
	color: #ccc;
}

.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}

.lb-data .lb-caption {
	font-size: 13px;
	font-weight: 600;
	line-height: 1em;
}

.lb-data .lb-caption a {
	color: #4ae;
}

.lb-data .lb-number {
	display: block;
	clear: left;
	font-weight: 600;
	padding-bottom: 1em;
	font-size: 12px;
}

.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(/assets/images/close.png) top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/*
---------------------------------------------
    13. Media Queries
---------------------------------------------
*/

@media only screen and (max-width: 1015px) {

	.navbar-info {
		padding: 1rem;
	}

	.navbar-divider {
		display: none;
	}

	.navbar-collapse {
		padding: 1rem 0;
		text-align: center;
	}

	.navbar-options {
		padding-top: 0;
	}

	.page-header-wrapper {
		height: 100%;
	}

	.page-header-subtitle-wrapper {
		display: inline-block;
	}

	.sidenav-wrapper {
		border-bottom: var(--borderColor) 1px solid;
		border-right: none;
		max-width: 100%;
		padding: 1rem;
	}

	.page-wrapper {
		max-width: 100%;
		padding: 1rem 1rem;
		width: -webkit-fill-available;
		width: -moz-available;
	}

	.container-wrapper {
		max-width: 100%;
		width: -webkit-fill-available;
		width: -moz-available;
	}

	.page-nav-link-wrapper {
		display: none;
	}
	
	.footer-links {
		display: none;
	}

	pre code {
		word-break: break-all;
		white-space: normal;
	}

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}