/*
    1. General
    2. Navbar
    3. Sidenav
    4. Content Area
    6. Changelog
    7. Tables
    8. FAQ
    9. Tabs
    10. Footer
*/


/*
---------------------------------------------
    1. General
---------------------------------------------
*/

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: var(--linkNormal);
	font-weight: 600;
}

a:active, a:hover {
	color: var(--linkActive)
}

html {
	box-sizing: border-box;
}

body {
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	font-family: "Muli", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.9;
	display: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Exo 2", sans-serif;
	letter-spacing: 0.5px;
}

h2,h3,h4,h5,h6 {
	margin: 1rem 0;
}

pre {
	background-color: #f9f9fb;
	border: var(--border-color) 1px solid;
	border-left: 5px solid #005CBF;
	padding: 1em;
	margin: 1rem 0;
	overflow: auto;
}

.container {
	padding: 0;
	margin: 0;
	max-width: 1720px;
}

.card {
	background-color: var(--cardBackground);
}

.bodyWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.row-spacer {
	margin: 1rem 0 2rem 0;
}

/*
---------------------------------------------
    2. Navbar
---------------------------------------------
*/

.navbar-wrapper {
	background-color: #3a597a;
	border-bottom: var(--borderColor) 1px solid;
	border-top: var(--linkActive) 6px solid;
	height: 66px;
	position: fixed;
	width: 100%;
	z-index: 1;
	display: flex;
}

.navbar-item > a {
	color: var(--navLinkNormal);
	font-weight: 600;
}

.navbar-item > a:hover {
	color: var(--navLinkHover);
}

.navbar-title  {
	padding-left: 2rem;
}

.navbar-title > a {
	color: var(--siteTitle);
}

.navbar-title > a:hover {
	color: var(--linkActive);
	text-decoration: none;
}


.navbar-links {
	margin-left: auto;
	padding: 0.50rem 1rem;
}

/*
---------------------------------------------
    3. Sidenav
---------------------------------------------
*/

.nav-sidebar-wrapper {
	background-color: #f4f5f7;
	border-right: var(--borderColor) 1px solid;
	height: 100vh;
	max-width: 20rem;
	position: fixed;
	margin-top: 4.1rem;
	font-family: "Muli", sans-serif;
	padding-right: 0;
}

.nav-sidebar {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	flex-direction: column;
	font-weight: 600;
}

.nav-sidebar .nav {
	display: none;
	flex-wrap: nowrap;
}

.nav-menus-wrapper {
	padding: 3rem 0;
}

.nav-menu {
	padding: .5rem 2rem;
}

.nav-sub-item {
	padding-left: 3rem;
	display: block;
}

.nav-link {
	display: flex;
}

.nav-item-single {
	padding: .25rem 2rem;
}

.nav-group-wrapper .nav-link {
	font-size: 0.90rem;
}

.nav-title {
	padding: 0 3rem;
	font-size: 0.95rem;
	font-weight: 700;
}

.nav-sidebar .nav-angle.rotate {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.nav-sidebar .nav-angle {
	margin-left: auto;
	font-size: 1rem;
	font-style: normal;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
}

.nav-sidebar .nav-angle::before {
	content: ">";
}

/*
---------------------------------------------
    4. Content
---------------------------------------------
*/

.content-wrapper {
	margin-left: 24rem;
	margin-top: 7rem;
	margin-bottom: 3rem;
}

/*
---------------------------------------------
	5. Page Navigation
---------------------------------------------
*/

.page-wrapper {
	margin-left: 24rem;
	margin-top: 7rem;
	max-width: 1050px;
}

.page-nav-wrapper {
	max-width: 265px;
	padding-left: 0;
}

.page-nav-link-wrapper {
	padding-left: 1.5rem;
	padding-top: 0;
	margin-top: 4rem;
	position: sticky;
	top: 8rem;
}

.page-nav-title {
	font-size: 0.8125rem;
	padding: 0.21em 0;
	color: var(--fontColor);
	font-weight: 700;
}

.page-nav-link {
	color: var(--linkNormal);
	font-size: 0.8125rem;
	padding: 0.21em 0;
	font-weight: 600;
}

.page-nav-link:hover {
	color: var(--linkActive);
}

.page-nav-link.active {
	color: var(--linkActive);
}

.page-nav-link.active:before {
	background-color: var(--pageIndicatorActive);
	bottom: 0;
	content: '';
	left: -20px;
	position: relative;
	top: 4px;
	width: 2px;
	z-index: 1;
	display: inline-block;
	height: 1.1rem;
}

.page-nav-link:before {
	background-color: var(--pageIndicator);
	bottom: 0;
	content: '';
	left: 4px;
	position: absolute;
	top: 0;
	width: 2px;
}

/*
---------------------------------------------
    6. Changelog
---------------------------------------------
*/

.changelog-wrapper {
	margin-left: 24rem;
	margin-top: 8rem;
	max-width: 1050px;
}

.changelog-border{
	margin-bottom: 3rem;
}

.changelog-header-wrapper {
	align-items: center;
	background-color: var(--headerBackground);
	border-bottom: none !important;
	border-top: none !important;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	color: var(--fontColor);
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.changelog-info {
	align-items: flex-end;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 600;
}

.changelog-date {
	margin-bottom: 0;
	margin-top: 0;
}

.changelog-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.changelog-body > .table {
	margin-bottom: 0;
}

.changelog-type {
	width: 0.5em;
}

.changelog-git {
	width: 0.5em;
}

/* Changelog Badges */

.badge {
	padding: 0.5em;
	width: 70px;
}

.badge-added {
	background-color: var(--added);
	color: var(--badgetext);
}

.badge-changed {
	background-color: var(--changed);
	color: var(--badgetext);
}

.badge-fixed {
	background-color: var(--fixed);
	color: var(--badgetext);
}

.badge-removed {
	background-color: var(--removed);
	color: var(--badgetext);
}

/*
---------------------------------------------
    7. Tables
---------------------------------------------
*/

.table {
	font-size: 0.9375rem;
	color: var(--fontColor);
}

.table-bordered {
	border: 1px solid var(--tableBorder);
}

.table-bordered td, .table-bordered th {
	border: 1px solid var(--tableBorder);
}
.table-bordered tbody tr:nth-of-type(odd) {
	background-color: var(--rowBackground);
}

/*
---------------------------------------------
    8. FAQ
---------------------------------------------
*/

.faq-header {
	margin: 2rem 0;
}

.accordion .card {
	background-color: #fff;
	border: 1px solid #f1f2f3 !important;
}

.accordion .card-title {
	background-color: #f9f9fb;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.accordion .card-title a {
	color: #323d47;
	display: block;
	font-weight: 500;
	padding: 16px 33px;
}

.accordion .card-title a::before {
	border-left: 1px solid #757575;
	border-top: 1px solid #757575;
	content: '';
	display: inline-block;
	height: 6px;
	margin-bottom: 3px;
	margin-left: -33px;
	margin-right: 20px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: .2s linear;
	transition: .2s linear;
	width: 6px;
}

.accordion .card-title a.collapsed::before {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg)
}


/*
---------------------------------------------
    9. Tabs
---------------------------------------------
*/


.tab-pane {
	display: none;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.tab-content {
	padding: 1rem;
}

/*
---------------------------------------------
    10. Footer
---------------------------------------------
*/

.footer-wrapper {
	background-color: #3a597a;
	border-top: var(--linkActive) 6px solid;
	height: 66px;
	width: 100%;
	margin-top: auto;
	z-index: 1;
	overflow: hidden;
}

.footer-info {
	display: flex;
	height: 100%;
}

.footer-links {
	padding-top: 1.2rem;
	padding-left: 1.5rem;
}

.footer-links > a {
	color: var(--footerLinkNormal);
}

.footer-links > a:hover {
	color: var(--footerLinkHover);
}

.footer-links-spacer {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-copyright {
	padding-top: 1.2rem;
	padding-right: 1.5rem;
	margin-left: auto;
	color: var(--footerText);
}
