/*
    1. General
    2. Header
    3. Page Header
    4. Page Content
    5. Sidenav Navigation
    6. Footer
    7. Changelog
    8. Tables
    9. FAQ
    10. Tabs
*/
/*
---------------------------------------------
    1. General
---------------------------------------------
*/

*, *:before, *:after {
	box-sizing: inherit;
}


body {
	font-family: "Muli", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.9;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Exo 2", sans-serif;
	letter-spacing: 0.5px;
}

h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}

pre {
	background-color: #f9f9fb;
	border: #e0e5e6 1px solid;
	border-left: 5px solid #005CBF;
	padding: 1em;
	margin: 1rem 0;
	overflow: auto;
}

.container-wrapper {
	flex-grow: 1;
	max-width: 1720px;
	display: flex;
	flex-direction: column;
	margin: 0 2rem;
}

.row-wrapper {
	min-height: calc(100vh - 342px);
	height: 100%;
}


/*
---------------------------------------------
    2. Header
---------------------------------------------
*/

.navbar-wrapper {
	background-color: #4b5b7d;
	height: 100px;
	overflow: hidden;
}

.navbar-info {
	display: flex;
	padding: 0.80rem 3rem;
	width: 100%;
}

.navbar-title {
	color: #ffffff;
}

.navbar-title:hover {
	color: #5DADE2;
	text-decoration: none;
}

.navbar-divider {
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: #fff;
	opacity: 0.15;
	margin-top: 1.8rem;
	margin-left: 2.5rem;
}

.navbar-links {
	margin-left: 2rem;
	margin-top: 1rem;
}

/*
---------------------------------------------
    3. Page Header
---------------------------------------------
*/

.page-header-wrapper {
	background-color: #f9f9fb;
	border-bottom: #e0e5e6 1px solid;
	height: 160px;
}

.page-header-info {
	display: block;
	padding: 2rem 0;
	text-align: center;
}

.page-header-subtitle {
	font-size: 1.125rem;
	padding-top: 0.5rem;
}

.page-header-subtitle-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 0.5rem;
}

.page-header-update-info {
	padding-right: 1rem;
	padding-top: 0.3rem;
}

.page-header-github-info {
	color: #50a1ff;
	display: flex;
}

.page-header-github-link {
	padding-left: 0.5rem;
	padding-top: 0.3rem;
}

/*
---------------------------------------------
    4. Page Content
---------------------------------------------
*/

.page-wrapper {
	padding: 5rem 4rem;
	max-width: 995px !important;
}

.page-nav-wrapper {
	max-width: 265px;
	padding-left: 0;
}

.page-nav-link-wrapper {
	padding-left: 1rem;
	padding-top: 0;
	margin-top: 3rem;
	position: sticky;
	top: 70px;
}

.page-nav-title {
	font-size: 0.8125rem;
	padding: 0.21em 0;
	color: var(--fontColor);
	font-weight: 700;
}

.page-nav-link {
	color: var(--linkNormal);
	font-size: 0.8125rem;
	padding: 0.21em 0;
	font-weight: 600;
}

.page-nav-link:hover {
	color: var(--linkActive);
}

.page-nav-link.active {
	color: var(--linkActive);
}

.page-nav-link.active:before {
	background-color: var(--pageIndicatorActive);
	bottom: 0;
	content: '';
	left: -20px;
	position: relative;
	top: 4px;
	width: 2px;
	z-index: 1;
	display: inline-block;
	height: 1.1rem;
}

.page-nav-link:before {
	background-color: var(--pageIndicator);
	bottom: 0;
	content: '';
	left: -4px;
	position: absolute;
	top: 0;
	width: 2px;
}

/*
---------------------------------------------
    5. Sidenav Navigation
---------------------------------------------
*/

.sidenav-wrapper {
	border-right: #e0e5e6 1px solid;
	max-width: 270px;
	padding: 5rem 1rem;
}

.nav-menus-wrapper {
	padding: .5rem .5rem;
	position: sticky;
	top: 50px;
}

.nav-sidebar {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	flex-direction: column;
	font-weight: 400;
}

.nav-sidebar .nav {
	display: none;
	flex-wrap: nowrap;
	font-size: 0.875rem;
	margin-left: 0.75rem;
}

.nav-sidebar .nav-link {
	-webkit-box-pack: justify;
	color: #333;
	display: flex;
	justify-content: space-between;
	padding: 3px 0;
}

.nav-title-wrapper .nav-link {
	margin-left: 0.75rem;
}

.nav-link.active {
	color: #50a1ff;
}

.nav-sidebar .nav-item {
	flex-shrink: 0;
	margin: 4px 0;
	overflow: hidden;
	padding-right: 5px;
}

.nav-item > a {
	color: #333;
}

.nav-item > a:hover {
	color: #50a1ff;
	text-decoration: none;
}

.nav-sidebar .nav-angle.rotate {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.nav-sidebar .nav-angle {
	display: inline-block;
	font-size: 0.85rem;
	font-style: normal;
	margin-top: 2px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
}

.nav-sidebar .nav-angle::before {
	content: ">";
}

a.nav-title {
	color: #50a1ff !important;
	font-weight: 700;
}

/*
---------------------------------------------
    6. Footer
---------------------------------------------
*/

.footer-wrapper {
	background-color: #f9f9fb;
	border-top: #e0e5e6 1px solid;
	height: 80px;
	overflow: hidden;
	width: 100%;
}

.footer-info {
	display: flex;
	height: 100%;
	padding: 0 3rem;
}

.footer-links {
	padding-top: 1.75rem;
}

.footer-links-spacer {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-copyright {
	padding-top: 1.75rem;
	margin-left: auto;
}

/*
---------------------------------------------
    7. Changelog
---------------------------------------------
*/

.changelog-wrapper {
	margin-left: 24rem;
	margin-top: 8rem;
	max-width: 1050px;
}

.changelog-border {
	margin-bottom: 3rem;
}

.changelog-header-wrapper {
	align-items: center;
	background-color: var(--headerBackground);
	border-bottom: none !important;
	border-top: none !important;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	color: var(--fontColor);
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem !important;
}

.changelog-info {
	align-items: flex-end;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 600;
}

.changelog-date {
	margin-bottom: 0;
	margin-top: 0;
}

.changelog-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.changelog-body > .table {
	margin-bottom: 0;
}

.changelog-type {
	width: 0.5em;
}

.changelog-git {
	width: 0.5em;
}

/* Changelog Badges */

.badge {
	padding: 0.5em;
	width: 70px;
}

.badge-added {
	background-color: var(--added);
	color: var(--badgetext);
}

.badge-changed {
	background-color: var(--changed);
	color: var(--badgetext);
}

.badge-fixed {
	background-color: var(--fixed);
	color: var(--badgetext);
}

.badge-removed {
	background-color: var(--removed);
	color: var(--badgetext);
}

/*
---------------------------------------------
    8. Tables
---------------------------------------------
*/

.table {
	font-size: 0.9375rem;
	color: var(--fontColor);
}

.table-bordered {
	border: 1px solid var(--tableBorder);
}

.table-bordered td, .table-bordered th {
	border: 1px solid var(--tableBorder);
}

.table-bordered tbody tr:nth-of-type(odd) {
	background-color: var(--rowBackground);
}

/*
---------------------------------------------
    9. FAQ
---------------------------------------------
*/

.faq-header {
	margin: 2rem 0;
}

.accordion .card {
	background-color: var(--accordionCard);
	border: 1px solid var(--accordionCardBorder) !important;
}

.accordion .card-title {
	background-color: var(--accordionBackground);
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.accordion .card-title a {
	color: var(--fontColor);
	display: block;
	font-weight: 500;
	padding: 16px 33px;
}

.accordion .card-title a::before {
	border-left: 1px solid var(--accordionArrow);
	border-top: 1px solid var(--accordionArrow);
	content: '';
	display: inline-block;
	height: 6px;
	margin-bottom: 3px;
	margin-left: -33px;
	margin-right: 20px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: .2s linear;
	transition: .2s linear;
	width: 6px;
}

.accordion .card-title a.collapsed::before {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

.card-body {
	padding: 1.25rem 3rem;
}


/*
---------------------------------------------
    10. Tabs
---------------------------------------------
*/


.tab-pane {
	display: none;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: var(--tabsActive);
	background-color: var(--tabsActiveBackground);
	border-color: var(--tabsActiveBorder) var(--tabsActiveBorder) var(--tabsActiveBorderBottom);
}

.tab-content {
	padding: 1rem;
}