<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#page-nav" data-offset="80" class="lang-{{ .Site.Language.Lang }}">

<div class="page-wrapper">

    <div class="main-nav-wrapper">
        <h3 class="main-nav-header">Shoko Docs</h3>
        {{ partial "nav-main.html" . }}
    </div>

    <div class="page-outer-wrapper">

        {{ partial "nav-top.html" . }}
        {{ partial "breadcrumb.html" . }}

        <div class="page-section-wrapper">
            <div class="page-content-wrapper">

                {{ $data := index .Site.Data .Site.Language.Lang }}
                {{ if eq (index .Site.Data .Site.Language.Lang) nil }}
                {{ $data = .Site.Data.en }}
                {{ end }}

                {{ $name := index ($data.changelog.index) }}

                {{ with $name }}
                {{ range .names }}
                {{ $changelogName := . }}
                {{ range first 1 (index $data.changelog $changelogName).releases }}

                <h3 class="changelog-index-header">
                    {{ if eq $changelogName "server" }}
                    {{ "Shoko Server" }}
                    {{ else if eq $changelogName "webui" }}
                    {{ "Shoko Server Web UI" }}
                    {{ else if eq $changelogName "desktop" }}
                    {{ "Shoko Desktop" }}
                    {{ else if eq $changelogName "myanime3" }}
                    {{ "My Anime 3" }}
                    {{ else if eq $changelogName "nakamori" }}
                    {{ "Nakamori" }}
                    {{ else if eq $changelogName "shokometadata" }}
                    {{ "Shoko Metadata" }}
                    {{ end }}
                </h3>

                <div id="v{{ .versionURL  }}" class="changelog-wrapper">

                    <div class="changelog-header-wrapper">
                        <div class="changelog-version">Version {{ .version }}</div>
                        <span class="changelog-header-spacer">/</span>
                        <div class="changelog-date">{{ .date }}</div>
                        <span class="changelog-header-spacer">/</span>
                        {{ if eq .blogLink "NA" }}
                        <div class="changelog-release">Release Notes Not Available</div>
                        {{ else }}
                        <div class="changelog-release">
                            <a href="{{ .blogLink }}" target="_blank" rel="noopener">View Release Notes</a>
                        </div>
                        {{ end }}
                    </div>

                    <hr class="hr2">

                    <div class="changelog-item-wrapper">
                        {{ range .changes }}
                        <div class="changelog-item">
                            <div id="changelog-item-{{ .type }}" class="changelog-item-placeholder">{{ .type }}</div>
                            <div class="changelog-item-text">{{ .text }}</div>
                        </div>
                        {{ end }}
                    </div>

                </div>

                {{ end }}
                {{ end }}
                {{ end }}

            </div>

            <div class="page-nav-wrapper">
                <div class="nav-links-wrapper page-nav-link-wrapper">
                    <ul class="nav flex-column flex-nowrap" id="page-nav">

                        {{ range first 1 $data.changelog.server.releases}}
                        <a class="nav-link nav-menu page-nav-title">Shoko Server</a>
                        <li class="nav-item"><a class="nav-link nav-menu page-nav-link" href="#v{{ .versionURL }}">
                            Version {{ .version }} - {{ .date }}</a>
                        </li>
                        {{ end }}
                        {{ range first 1 $data.changelog.webui.releases}}
                        <a class="nav-link nav-menu page-nav-title">Shoko Server Web UI</a>
                        <li class="nav-item"><a class="nav-link nav-menu page-nav-link" href="#v{{ .versionURL }}">
                            Version {{ .version }} - {{ .date }}</a>
                        </li>
                        {{ end }}
                        {{ range first 1 $data.changelog.desktop.releases}}
                        <a class="nav-link nav-menu page-nav-title">Shoko Desktop</a>
                        <li class="nav-item"><a class="nav-link nav-menu page-nav-link" href="#v{{ .versionURL }}">
                            Version {{ .version }} - {{ .date }}</a>
                        </li>
                        {{ end }}
                        {{ range first 1 $data.changelog.myanime3.releases}}
                        <a class="nav-link nav-menu page-nav-title">My Anime 3</a>
                        <li class="nav-item"><a class="nav-link nav-menu page-nav-link" href="#v{{ .versionURL }}">
                            Version {{ .version }} - {{ .date }}</a>
                        </li>
                        {{ end }}
                        {{ range first 1 $data.changelog.shokometadata.releases}}
                        <a class="nav-link nav-menu page-nav-title">Shoko Metadata</a>
                        <li class="nav-item"><a class="nav-link nav-menu page-nav-link" href="#v{{ .versionURL }}">
                            Version {{ .version }} - {{ .date }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </div>

</div>

{{ partial "scripts.html" . }}

</body>
</html>