<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#page-nav" data-offset="80" class="lang-{{ .Site.Language.Lang }}">

<div class="page-wrapper">

	<div class="main-nav-wrapper">
		<h3 class="main-nav-header">Shoko Docs</h3>
		{{ partial "nav-main.html" . }}
	</div>

	<div class="page-outer-wrapper">

		{{ partial "nav-top.html" . }}
		{{ partial "breadcrumb.html" . }}

		<div class="page-section-wrapper">
			<div class="page-content-wrapper">
				{{ $headlessbundle := .Site.GetPage "/faq-questions" }}
				{{ range ( $headlessbundle.Resources.ByType "page" ) }}
				{{.Content}}
				{{ end }}
			</div>

			<div class="page-nav-wrapper">
			<div class="nav-links-wrapper page-nav-link-wrapper">
				<ul class="nav flex-column flex-nowrap" id="page-nav">

					{{ range .Params.pageNav }}
					{{if .navTitle }}
					<li class="page-nav-title">{{ .navTitle }}</li>
					{{ end }}
					<li class="nav-item">
						<a class="nav-link nav-menu page-nav-link" href="#{{ .id }}">{{ .name }}</a>
					</li>
					{{ end }}

				</ul>
			</div>
		</div>
	</div>

	{{ partial "footer.html" . }}
</div>

</div>

{{ partial "scripts.html" . }}

</body>
</html>

