<!doctype html>
<html lang="en">

{{partial "head.html" .}}

<body class="lang-{{.Site.Language.Lang}}">

<div class="page-wrapper">

    <div class="main-nav-wrapper">
        <h3 class="main-nav-header">Shoko Docs</h3>
        {{partial "nav-main.html" .}}
    </div>

    <div class="page-outer-wrapper">

        {{partial "nav-top.html" .}}
        {{partial "breadcrumb.html" .}}

        <div class="index-content-wrapper">
            {{.Content}}
        </div>
        {{partial "footer.html" .}}
    </div>

</div>

{{partial "scripts.html" .}}

</body>
</html>

