<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#page-nav" data-offset="80">

{{ partial "header.html" . }}

<div class="container container-wrapper">
	<div class="row row-wrapper">

		<div class="col-xl-2 sidenav-wrapper">

			{{ partial "nav.html" . }}

		</div>

		<div class="col-xl-8 page-wrapper">

			{{ .Content }}

		</div>

		<div class="col-xl-2 page-nav-link-wrapper">
			<div class="nav-links-wrapper page-nav-link-wrapper">
				<ul class="nav flex-column flex-nowrap" id="page-nav">

					{{ range .Params.pageNav }}

					{{if  .navTitle }}
					<li class="page-nav-title">{{ .navTitle }}</li>
					{{ end }}

					<li class="nav-item"><a class="nav-link nav-menu page-nav-link" href="#{{ .id }}">{{ .name }}</a></li>

					{{ end }}

				</ul>
			</div>
		</div>

	</div>
</div>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>