<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

<div class="row page-wrapper">

	<!-- Sidebar Nav -->
	<div class="col-xl-2 sidebar-nav-wrapper">
		<nav class="nav flex-column sidebar-nav">
			<h3 class="nav-header">Shoko <span class="nav-header-highlight">Docs</span></h3>
			{{ partial "nav-main.html" }}
		</nav>
	</div>

	<!-- Content -->
	<div class="col-xl-8 content-wrapper">

		<!-- Top Nav -->
		<div class="top-nav-wrapper">
			{{ partial "nav-top.html" . }}
		</div>


		<div class="page-content">

			{{ .Content }}

		</div>

		{{ partial "footer.html" . }}

	</div>

	<div class="col-xl-2 page-nav-wrapper">

	</div>

</div>

{{ partial "scripts.html" . }}

</body>
</html>