---
layout: main
title: Shoko Server - Running On Linux with Docker
permalink: server/docker.html
---

<!-- Main content -->
<article class="col-md-9 col-sm-9 main-content" role="main">
		<header>
				<ol class="breadcrumb">
						<li><a href="../index.html">Home</a>
						</li>
						<li class="active">Shoko Server - Running On Linux with Docker</li>
				</ol>
				<h1>Running Shoko Server On Linux</h1>
				<p>A quick guide to running Shoko Server on Linux using Docker.</p>
		</header>

		<section>
				<h2 id="installing-docker">Installing Docker</h2>
				<p>
						Installing Docker will depend on what distribution you are running. </P>
				<P>For most users installing docker from their package manager is advised, this way you will keep up with the latest updates and security updates. On the homepage of <a
						href="https://www.docker.com/community-edition#/download">Docker</a> you can find the installation procedure for your distribution of the Docker Community Edition.
				</P>
		</section>

		<section>
				<h2 id="running-shoko-docker">Running ShokoServer on Docker</h2>
				<h3 id="get-docker-image">Getting the latest ShokoServer Docker image</h3>
				The latest Docker image is available <a href="https://hub.docker.com/r/cazzar/shokoserver/">here</a>. To get the image run the following in the command line.
				<pre class=".pre-scrollable">docker pull cazzar/shokoserver</pre>
				<h3 id="docker-run">Docker Run</h3>
				<p>To run a basic docker container for ShokoServer you can run the following from the command line.</p>
				<pre class=".pre-scrollable">docker run -p 8111:8111 cazzar/shokoserver</pre>
				<p>This command will run a new empty docker instance with ShokoServer installed and at the same time port 8111 will be made available to the host to reach ShokoServer. At
						this point you'll be able to use Shoko Desktop.
				</p>
				<p>However, this won't be enough to keep a persistent ShokoServer instance running. We will add a few things to the docker command to make sure we can survive a reboot
						after we make some changes. </p>
				<pre class=".pre-scrollable">docker run -p 8111:8111 <b>-v "/path/to/config:/root/.shoko" -v "/path/to/webui:/usr/src/app/build/webui"</b> cazzar/shokoserver</pre>
				<p>Note, if you run the Docker container as any user other than the default root user, the configuration will be written to <code>/.shoko</code> instead as no user profile
						folder will exist. In this case, ensure you adjust the volume mount so that the ShokoServer data is preserved.</p>
				<h3>Command Breakdown</h3>
				<table class="table table-striped">
						<thead>
						<tr>
								<th>Command</th>
								<th>Purpose</th>
						</tr>
						</thead>
						<tbody>
						<tr>
								<td>
										<pre class=".pre-scrollable">-v "/path/to/config:/root/.shoko"</pre>
								</td>
								<td>Link the configuration file to a folder on your disk. This will allow for portability ease of use for updates.
								</td>
						</tr>
						<tr>
								<td>
										<pre class=".pre-scrollable">-v "/path/to/webui:/usr/src/app/build/webui"</pre>
								</td>
								<td>Link the WebUI folder to a folder on your disk. This will allow you to update the WebUI from <a
										href="https://github.com/japanesemediamanager/ShokoServer-WebUI">GitHub</a> without having to restart the whole container
								</td>
						</tr>
						</tbody>
				</table>
				<p>
						Lastly, with the configuration set up, we will need to link the folders with your Drop Source and Drop Destination. </p>
				<p>To add folders we can add another <strong>-v</strong> flag, you can keep adding as many as you need (one <strong>-v</strong> for every folder). </p>
				<pre class=".pre-scrollable">docker run -p 8111:8111 -v "/path/to/config:/root/.shoko" -v "/path/to/webui:/usr/src/app/build/webui" <b>-v "/path/to/anime:/anime"</b> cazzar/shokoserver</pre>
				<p>
						With ShokoServer up and running you can connect to it with ShokoDesktop or the WebUI, and start managing your collection.</p>
				<h3 id="docker-compose">Docker Compose</h3>
				<p>
						To make management easier, we can combine all the previous items in a docker compose file.
				</p>
				<p>In order to make this work, install docker-compose, a guide how to can be found <a
						href="https://docs.docker.com/compose/install/">here</a> on the Docker website. Once docker-compose is installed create a docker-compose.yml file anywhere on your
						system. Open the file and put the following inside.</p>
				<pre class=".pre-scrollable">
version: "3"
services:
shokoserver:
container_name: shokoserver
image: cazzar/shokoserver:daily
ports:
- "8111:8111"
volumes:
- "/path/to/Anime:/anime"
- "/path/to/config:/root/.shoko"
- "/path/to/webui:/usr/src/app/build/webui"</pre>
				<p>
						This combines all of our previous configuration in an easy to read and edit format, and will allow you to create a powerful startup script that could (for example)
						include a MySQL server, a download client, and anything else you can think off that's available in a docker format.
				</p>
		</section>

		<section class="github-callout">
				<div class="callout callout-info" role="alert">
						<h4>Help Make This Page Better</h4>
						<p>Have an idea to improve this page? Is the material incorrect or outdated? Don't wait for us to notice it and update it, instead make the update yourself so the
								community can benefit from it.</p>
						<a href="https://github.com/japanesemediamanager/ShokoDocs/blob/master/server/docker.html" target="_blank">Running Shoko Server On Linux</a></div>
		</section>
</article>

<!-- Sidebar -->
<aside class="col-md-3 col-sm-3 sidebar">

		<ul class="sidenav dropable sticky">
				<li><a href="#installing-docker">Installing Docker</a></li>
				<li><a class="has-child" href="#running-shoko-docker">Shoko Server on Docker</a>
						<ul>
								<li><a href="#get-docker-image">Getting the latest Docker Image</a></li>
								<li><a href="#docker-run">Docker Run</a></li>
								<li><a href="#docker-compose">Docker Compose</a></li>
						</ul>
				</li>
				<li class="hr-menu">
						<hr/>
				</li>

				{% include _sidebar.html %} {% include _sidebar_end.html %}
