---
layout: main
title: Shoko Server - Windows Setup
excerpt: How to install Shoko Server on Windows.
permalink: server/install_windows.html
---

<main class = "main-content">
	<div class = "container">
		<div class = "row">

			<!--
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			| Sidebar
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			!-->

			<div class = "col-md-2 col-xl-2 order-last order-md-first">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
					{% include _sidebar.html %}
				</aside>
			</div>

			<!--
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  | Content
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  !-->

			<div class = "col-md col-xl m2-md-auto py-8">
				<article>

					<h1>{{ page.title }}</h1>
					<p class = "lead">This guide is designed to get Shoko Server installed and properly setup so you can start importing and organizing your
						anime collection.</p>

					<hr class = "my-6">

					<section>

						<h2 id = "mandatory">Is Shoko Server Mandatory?</h2>
						<p>The short answer is <strong>Yes</strong>.</p>

						<p> Shoko Server is the back-end of the entire Shoko suite, which means every single program and plugin provided uses it for accessing
							and maintaining your anime collection. This makes Shoko Server <strong>mandatory</strong> and also means Shoko Server <strong>must
								be running</strong> to use any of the programs or plugins that connect to it. With the exception of file importing, Shoko Server
							is no more resource intensive than other programs you probably have running in the background so you don't need to worry about Shoko
							Server eating up resources.</p>

					</section>

					<section>

						<h2 id = "install-first-run">Install & First Run</h2>

						<p>If you haven't already done so, you'll need to download <a href = "http://shokoanime.com/downloads/#stable-releases"
								target = "_blank" rel = "noopener"> Shoko Server</a>, and then install it.
							The installer was designed to be pretty
							straight forward so just follow the directions. until you're done. Please note, Administrator rights are required to install
							and for the initial run, however after that you can run as a normal use.</p>

						<p>Shoko Server stores all your collection metadata in an SQLite database which is created by default the first time you run Shoko
							Server. This file is located in <strong>%ProgramData%\ShokoServer\SQLite</strong> and is automatically maintained by Shoko
							so you don't need to anything after its been created.</p>

						<div class = "alert alert-primary" role = "alert">
							<h4 class = "alert-heading">Concerning MySQL and SQL Server</h4>
							<p>Previously, Shoko did support both MySQL and SQL Server as possible database options due to multiple issues such as database
								access times and overall speed that were present when using an SQLite database with a large collection. Starting with <strong>Version
									3.6</strong>, we've been steadily making improvements to address these issues that the benefits once provided by MySQL and
								SQL Server are now negligible. To that end and to reduce unrelated issues that could arise when using MySQL or SQL Server,
								support for MySQL and SQL Server as a database option has been deprecated and the option to select either of them has been
								removed.</p>

							<p>Users who are currently using either MySQL or SQL Server can still edit their database information by directly editing <strong>settings.json</strong>
								located in <strong>%ProgramData%\ShokoServer</strong>.</p>
						</div>

					</section>

					<section>

						<h2 id = "anidb-account">Inputting Your AniDB Account</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>With Shoko Server installed and your database created and configured, its time to configure the essential settings. If you're
									looking for a more in-depth explanation of each function, use the menu on the left and under <strong>Configuring Shoko
										Server</strong> select the tab you're looking for more information on. </p>

								<p>The first thing you probably noticed after your database was done was a pop-up asking you to input your <strong>AniDB
									Username</strong>and your <strong>AniDB Password</strong>. If you haven't already done so, input them and click the <strong>Test
									& Save Login</strong> button. An AniDB account is required to use Shoko, if you don't have one you'll need to <a
										href = "https://anidb.net/perl-bin/animedb.pl?show=signup" target = "_blank" rel = "noopener">Create an Account</a>which
									should only take a couple of minutes.</p>

								<div class = "alert alert-primary" role = "alert">
									<h4 class = "alert-heading">Why Do I Need An AniDB Account?</h4>
									<p>AniDB is one of the biggest information databases for anime and stores every file hash a user submits. When Shoko hashes
										your files, these hashes are compared with the ones from AniDB and when matched, if provides Shoko with all the
										information related to that series. </p>
									<p><strong>Shoko does not send any personal information to AniDB nor do they require it.</strong></p>
								</div>
							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/server/Shoko-Server-Settings.png" data-lightbox = "image-1"><img
										src = "/assets/img/server/Shoko-Server-Settings.png" class = "img-fluid" alt = "Shoko Server - Settings Tab"></a>
							</div>
						</div>

					</section>

					<section>

						<h2 id = "import-folders">Setting Up Import Folders</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">

								<p>Import Folders are the physical locations of where your files are. This means two things, they <strong>must be accessible by
									Shoko Server</strong> and they are <strong>always online</strong>. If using<strong> removable media</strong>, make sure its
									connected before running any <strong>import functions</strong> or <strong>file checking functions</strong> to avoid Shoko
									removing the entries from your collection database.</p>

								<p>There are <strong>two different Import Folder Systems</strong> you can use. The first is <strong>Single Folder</strong> which
									has Shoko add the contents of the folder to your collection. The second is <strong>Drop Source/Destination</strong> which
									has Shoko move files from the <strong>Drop Source</strong> into the <strong>Drop Destination</strong>. You can use both of
									these systems at the same time and/or use them both for the same import folder.</p>

								<p>Click <strong>New Folder</strong> to open the <strong>Import Folder Window</strong>, select the provider for the import
									folder and then select the location. Decide on the <strong>Import Folder System</strong> you'll be using for this Import
									Folder and then click the <strong>Save</strong> button to add the Import Folder. If you need to add additional folders then
									make sure to do that as well before moving on.</p>

								<p>For in-depth information on Import Folders and how they work, check the <a href = "config.html#import-folders"
										target = "_blank" rel = "noopener">Import Folders</a> documentation.</p>

							</div>

							<div class = "col-xl-4 col-sm-12">
								<a href = "/assets/img/server/Shoko-Server-Import-Folders.png" data-lightbox = "image-2"><img
										src = "/assets/img/server/Shoko-Server-Import-Folders.png" class = "img-fluid"
										alt = "Shoko Server - Import Folders Tab"></a>
							</div>
						</div>

					</section>

					<section>

						<h2 id = "additional-config">Additional Configuration</h2>

						<p>This install and setup guide is only meant to cover the minimal requirements required to get Shoko Server up and running. However,
							Shoko does provide fine-grained options for those who are not satisfied with the default settings. We <strong>highly
								recommend</strong> going through all the available options in Shoko Server, Shoko Server Web UI and Shoko Desktop to fully
							fine-tune Shoko and your collection.</p>

						<p>Below are a few areas to check out.</p>

						<a href = "../server/config.html#import-folders" target = "_blank" rel = "noopener">Import Folders</a>
						<p>The information regarding Import Folders in this guide is just the basics needed to get Shoko Server running. Advanced users should
							fully understand how Import Folders work and their supported options to get the most out of Shoko.</p>

						<a href = "../server/config.html#actions-info" target = "_blank" rel = "noopener">Server Actions</a>
						<p>Shoko Server provides a list of available actions that can be run to maintain, update and clean up your collection.</p>

						<a href = "../server/webui.html" target = "_blank" rel = "noopener">Shoko Server Web UI</a>
						<p>Shoko Server comes with the latest version of our Web UI by default. While it's still in beta, its provides a lot of functionality
							previously only accessible in Shoko Desktop. </p>

						<a href = "#" target = "_blank" rel = "noopener">Community Site Settings</a>
						<p>Every Community Site supported by Shoko can be configured to your needs if the default settings are not to your liking. Additional
							configuration such as account linking and syncing is also available for Community Sites that support it.</p>

					</section>

					{% include _github_callout.html %}

				</article>
			</div>

			<div class = "col-md-2 col-xl-2 right-sidebar">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky">
					<nav class = "nav nav-toc-2 mt-3" data-accordion = "true">
						<a class = "nav-link" href = "#mandatory">Is Shoko Server Mandatory?</a>
						<a class = "nav-link" href = "#install-first-run">Install & First Run</a>
						<a class = "nav-link" href = "#anidb-account">Inputting AniDB Account</a>
						<a class = "nav-link" href = "#import-folders">Setting Up Import Folders</a>
						<a class = "nav-link" href = "#additional-config">Additional Configuration</a>
					</nav>
				</aside>
			</div>

		</div>
	</div>
</main>
