---
layout: main
title: Shoko Server - Linux Setup
excerpt: How to install Shoko Server on Linux.
permalink: server/install_linux.html
---

<main class = "main-content">
	<div class = "container">
		<div class = "row">

			<!--
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			| Sidebar
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			!-->

			<div class = "col-md-2 col-xl-2 order-last order-md-first">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
					{% include _sidebar.html %}
				</aside>
			</div>

			<!--
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  | Content
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  !-->

			<div class = "col-md-7 col-xl-7 m2-md-auto py-8">
				<article>

					<h1>{{ page.title }}</h1>

					<p class = "lead">This guide is designed to get Shoko Server installed and properly setup so you can start importing and organizing your
						anime collection.</p>

					<hr class = "my-6">

					<section>
						<h2 id = "installing-docker">Installing Docker on Linux</h2>

						<nav class = "nav nav-tabs" id = "tab1" role = "tablist">
							<a class = "nav-item nav-link active" id = "nav-install-linux" data-toggle = "tab" href = "#install-linux" role = "tab"
									aria-controls = "nav-linux" aria-selected = "true">Linux</a>
							<a class = "nav-item nav-link" id = "nav-install-synology" data-toggle = "tab" href = "#install-synology" role = "tab"
									aria-controls = "nav-synology" aria-selected = "false">Synology NAS</a>
						</nav>

						<div class = "tab-content p-4">
							<div class = "tab-pane fade show active" id = "install-linux" role = "tabpanel" aria-labelledby = "docker-tab">

								<p>Installing <strong>Docker</strong> will depend on what distribution you are running.</p>
								<P>For most users installing docker from their package manager is advised, this way you will keep up with the latest updates and
									security updates. On the homepage of <a href = "https://www.docker.com/community-edition#/download" target = "_blank"
											rel = "noopener">Docker</a> you can find the installation procedure for your distribution of the <strong>Docker
										Community Edition</strong>.</p>

							</div>

							<div class = "tab-pane fade" id = "install-synology" role = "tabpanel" aria-labelledby = "synology-tab">

								<div class = "row">
									<div class = "col-sm-8">
										<p>Use the Package Center to install Docker.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "/assets/img/server/Synology-Docker-Install.png" data-lightbox = "image-1"><img
												src = "/assets/img/server/Synology-Docker-Install.png" class = "img-fluid"
												alt = "Synology Docker Install"></a>
									</div>
								</div>
							</div>

						</div>
					</section>

					<section>

						<h2 id = "running-shoko-docker">Running Shoko Server on Docker</h2>

						<nav class = "nav nav-tabs" id = "tab2" role = "tablist">
							<a class = "nav-item nav-link active" id = "nav-running-linux" data-toggle = "tab" href = "#running-linux" role = "tab"
									aria-controls = "nav-linux" aria-selected = "true">Linux</a>
							<a class = "nav-item nav-link" id = "nav-running-synology" data-toggle = "tab" href = "#running-synology" role = "tab"
									aria-controls = "nav-synology" aria-selected = "false">Synology NAS</a>
						</nav>

						<div class = "tab-content p-4">
							<div class = "tab-pane fade show active" id = "running-linux" role = "tabpanel" aria-labelledby = "docker-tab">

								<h4>Getting the latest Shoko Server Docker Image</h4>

								<p>The latest Docker image is available <a href = "https://hub.docker.com/r/cazzar/Shoko Server/" target = "_blank"
										rel = "noopener">here</a>. To get the image run the following in the command line.</p>

								<pre><code class = "language-bash">docker pull cazzar/Shoko Server</code></pre>

								<h4>Docker Run</h4>

								<p>To run a basic docker container for Shoko Server, you can run the following from the command line.</p>

								<pre><code class = "language-bash">docker run -p 8111:8111 cazzar/Shoko Server</code></pre>

								<p>This command will run a new empty docker instance with Shoko Server installed and at the same time <strong>port 8111</strong>will
									be made available to the host to reach Shoko Server. At this point you'll be able to use Shoko Desktop.</p>
								<p>However, this won't be enough to keep a persistent Shoko Server instance running. We will add a few things to the docker
									command to make sure we can survive a reboot after we make some changes.</p>

								<pre><code class = "language-bash">docker run -d --name Shoko Server --restart always -p 8111:8111/tcp -v "/path/to/shoko/settings:/root/.shoko" -v "/path/to/webui:/usr/src/app/build/webui" -v "/path/to/anime:/anime" -v "/path/to/import:/import" cazzar/Shoko Server</code></pre>

								<p>Note: If you run the Docker container as any other <strong>uid/gid other than the default Shoko user </strong> see the <a
										href = "#advanced-settings">Advanced Settings</a> section. </p>

								<h4>Command Breakdown</h4>

								<table class = "table table-bordered">

									<thead>
									<tr>
										<th>Command</th>
										<th>Purpose</th>
									</tr>
									</thead>

									<tbody>
									<tr>
										<td>
											<pre><code class = "language-bash">-d</code></pre>
										</td>
										<td><p><a href = "https://docs.docker.com/engine/reference/run/#detached--d" target = "_blank" rel = "noopener">Runs in
											detached mode.</a>
										</p>
											<p>This prevents docker from running Shoko Server within your session. If your client does not have a return to
												shell feature, this will prevent Docker from running within your shell's instance.</p></td>
									</tr>
									<tr>
										<td>
											<pre><code class = "language-bash">--name Shoko Server</code></pre>
										</td>
										<td><p><a href = "https://docs.docker.com/engine/reference/run/#container-identification" target = "_blank"
												rel = "noopener">Names your container.</a></p>
											<p>This is useful if you have a utility that manages docker by container names. Without this, your container will
												have a randomly generated name.</p>
										</td>
									</tr>
									<tr>
										<td>
											<pre><code class = "language-bash">--restart always</code></pre>
										</td>
										<td><a href = "https://docs.docker.com/engine/reference/run/#restart-policies-restart" target = "_blank"
												rel = "noopener">Defines a restart policy.</a>
										</td>
									</tr>
									<tr>
										<td>
											<pre><code class = "language-bash">-p 8111:8111/tcp</code></pre>
										</td>
										<td><p><a href = "https://docs.docker.com/engine/reference/run/#expose-incoming-ports" target = "_blank"
												rel = "noopener">Publishes the containers Ports.</a>
										</p>
											<p>Simply put, you are binding the port on container to the port on host, otherwise a random port will be chosen on
												the host.</p>
											<p>TCP is used since UDP is not required.</p>
										</td>
									</tr>
									<tr>
										<td>
											<pre><code class = "language-bash">-v "/path/to/shoko/settings:/home/shoko/.shoko"</code></pre>
										</td>
										<td><p><a href = "https://docs.docker.com/engine/reference/run/#volume-shared-filesystems" target = "_blank"
												rel = "noopener">Mounts volumes.</a></p>
											<p>To preserve settings between updates, the settings folder must be remapped to a location outside the
												container.</p>
										</td>
									</tr>
									<tr>
										<td>
											<pre><code class = "language-bash">-v "/path/to/anime:/anime"</code></pre>
										</td>
										<td>
											<p><a href = "https://docs.docker.com/engine/reference/run/#volume-shared-filesystems" target = "_blank"
													rel = "noopener">Mounts volumes.</a></p>
											<p>In order for Shoko Server to manage your collection, you must map at least one volume to the container.</p>
											<p>Note: You can have multiple volumes, and they can be named any way you like (/anime, /tv_shows, /media, etc.)</p>
										</td>
									</tr>
									<tr>
										<td>
											<pre><code class = "language-bash">-v "/path/to/import:/import"</code></pre>
										</td>
										<td><p><a href = "https://docs.docker.com/engine/reference/run/#volume-shared-filesystems" target = "_blank"
												rel = "noopener">Mounts volumes.</a></p>
											<p>Optional: You may also map a import volume, there is no difference between this and the previous command - This
												is just another example to illustrate how adding additional volumes work.</p>
											<p>Note: You can have multiple volumes, and they can be named any way you like (also try: /downloads,
												/completed_torrents, etc.)</p>
										</td>
									</tr>
									<tr>
										<td>
											<pre><code class = "language-bash">cazzar/Shoko Server</code></pre>
										</td>
										<td><p><a href = "https://docs.docker.com/engine/reference/run/" target = "_blank" rel = "noopener">Specifies the Image
											to derive the container from.</a></p>
										</td>
									</tr>

									</tbody>
								</table>
							</div>

							<div class = "tab-pane fade" id = "running-synology" role = "tabpanel" aria-labelledby = "running-synology">

								<div class = "row">
									<div class = "col-sm-8">
										<p>Open Docker from the Main Menu.</p>
									</div>

									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Start-Docker.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Start-Docker.png" class = "img-fluid"
												alt = "Synology Running Docker - Start Docker"/>
										</a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Open the Docker Registry.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Open-Docker-Registry.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Open-Docker-Registry.png"
												class = "img-fluid" alt = "Synology Running Docker - Open Docker Registry"/>
										</a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Open Docker Registry Settings.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Open-Docker-Registry-Settings.png"
												data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Open-Docker-Registry-Settings.png"
												class = "img-fluid" alt = "Synology Running Docker - Open Docker Registry Settings"/>
										</a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>By default, Synology's Docker is only configured to allow images downloaded from it's own private registry. Shoko
											Server is published to the Docker Hub, and that registry needs to be added to Synology Docker.</p>
										<p>Add a new registry.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Add-A-New-Registry.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Add-A-New-Registry.png"
												class = "img-fluid" alt = "Synology Running Docker - Add A New Registry"/>
										</a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Enter Docker Hub's registry details</p>

										<table class = "table table-bordered">

											<thead>
											<tr>
												<th>Name</th>
												<th>Value</th>
											</tr>
											</thead>

											<tbody>
											<tr>
												<td>Registry Name</td>
												<td>Docker Hub</td>
											</tr>
											<tr>
												<td>Registry URL</td>
												<td>https://registry.hub.docker.com</td>
											</tr>
											<tr>
												<td>Trust SSL Self-Signed Certificate</td>
												<td>&#x2714;</td>
											</tr>
											</tbody>

										</table>

									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Enter-Registry-Details.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Enter-Registry-Details.png" class = "img-fluid"
												alt = "Synology Running Docker - Enter Registry Details"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Click OK to close Synology Docker Registry Settings.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Close-Synology-Docker-Registry-Settings.png"
												data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Close-Synology-Docker-Registry-Settings.png"
												class = "img-fluid" alt = "Synology Running Docker - Close Synology Docker Registry Settings"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>You can now search repositories from the Docker Hub Registry. Enter "cazzar/Shoko Server" into the search box
											above and click the search button.</p>
										<p>Check to make sure your results are accurate and click on the "cazzar/Shoko Server" to chose a release to
											download.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Search-for-Shoko-Server.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Search-for-Shoko-Server.png" class = "img-fluid"
												alt = "Synology Running Docker - Search for Shoko Server"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Chose the latest release to download.</p>
										<div class = "alert alert-primary" role = "alert">
											<h4 class = "alert-heading">Note</h4>
											<p>At this time there are only two releases available - 'Latest' and 'Daily'. There is no difference between the
												two builds. However they are updated frequently. A seperate stable release will become available soon.</p>
										</div>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Select-Release.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Select-Release.png" class = "img-fluid"
												alt = "Synology Running Docker - Select Release"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>After selecting the release, a notification under images will appear and Shoko Server download will begin.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Download-Started.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Download-Started.png" class = "img-fluid"
												alt = "Synology Running Docker - Download Started"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Wait for the download to complete, then click Launch to create a container for Shoko Server (download size may
											differ).</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Launch-Image.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Launch-Image.png" class = "img-fluid"
												alt = "Synology Running Docker - Launch Image"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Click on Advanced Settings.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Advanced-Settings.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Advanced-Settings.png" class = "img-fluid"
												alt = "Synology Running Docker - Advanced Settings"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>OPTIONAL: <a href = "https://docs.docker.com/engine/admin/start-containers-automatically/" target = "_blank"
												rel = "noopener">Enable Auto Restart.</a></p>
										<p>Click on 'Volume' to continue.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Enable-Auto-Restart.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Enable-Auto-Restart.png" class = "img-fluid"
												alt = "Synology Running Docker - Enable Auto Restart"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Here you will mount volumes to folders on the host. This is done to preserve your settings between updates and to
											grant the container access to your shared folders.</p>
										<p>Click on 'Port Settings' to continue.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Add-Volumes.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Add-Volumes.png" class = "img-fluid"
												alt = "Synology Running Docker - Add Volumes"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Bind Local TCP Port 8111 to Container TCP Port 8111.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Bind-Ports.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Bind-Ports.png"
												class = "img-fluid" alt = "Synology Running Docker - Bind Ports"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Click Next to review your settings.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Review-Container-Settings.png"
												data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Review-Container-Settings.png"
												class = "img-fluid" alt = "Synology Running Docker - Review Container Settings"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Review your settings and, if everything is correct, click Apply.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-Create-Container.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-Create-Container.png"
												class = "img-fluid" alt = "Synology Running Docker - Create Container"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Click on container to view your newly created Shoko Server.</p>
									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Running-Docker-View-Containers.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Running-Docker-View-Containers.png"
												class = "img-fluid" alt = "Synology Running Docker - View Containers"/></a>
									</div>
								</div>
							</div>

						</div>
					</section>

					<section>

						<h2 id = "manage-shoko-docker">Manage Shoko on Docker</h2>

						<nav class = "nav nav-tabs" id = "tab3" role = "tablist">
							<a class = "nav-item nav-link active" id = "nav-manage-linux" data-toggle = "tab" href = "#manage-linux" role = "tab"
									aria-controls = "nav-home" aria-selected = "true">Linux</a>
							<a class = "nav-item nav-link" id = "nav-manage-synology" data-toggle = "tab" href = "#manage-synology" role = "tab"
									aria-controls = "nav-profile" aria-selected = "false">Synology NAS</a>
						</nav>

						<div class = "tab-content p-4">
							<div class = "tab-pane fade show active" id = "manage-linux" role = "tabpanel" aria-labelledby = "linux-tab">

								<h4 id = "docker-compose">Docker Compose</h4>
								<p>To make management easier, we can combine all the previous items in a docker compose file.</p>
								<p>In order to make this work, install <strong>docker-compose</strong>, a guide how to can be found <a
										href = "https://docs.docker.com/compose/install/" target = "_blank" rel = "noopener">here</a> on the Docker website.
									Once docker-compose is installed create a docker-compose.yml file anywhere on your system. Open the file and put the
									following inside.
								</p>
								<pre><code class = "language-bash">version: "3"
services:
    Shoko Server:
        container_name: Shoko Server
        image: cazzar/Shoko Server:daily
        restart: always
        ports:
            - "8111:8111/tcp"
        volumes:
            - "/path/to/config:/home/shoko/.shoko"
            - "/path/to/anime:/anime"
            - "/path/to/import:/import"</code></pre>

								<p>This combines all of our previous configuration in an easy to read and edit format, and will allow you to create a powerful
									startup script that could (for example) include a MySQL server, a download client, and anything else you can think off
									that's available in a docker format.</p>

							</div>

							<div class = "tab-pane fade" id = "manage-synology" role = "tabpanel" aria-labelledby = "synology-tab">

								<div class = "row">
									<div class = "col-sm-8">
										<p>While viewing the Docker panel in the Synology web interface, click on container to view the running containers.</p>
										<p>If everything was set up correctly, Shoko Server should be automatically running and the details button will become
											available. Select the container and then Push the details button.</p>
									</div>

									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Manage-Docker-View-Details.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Manage-Docker-View-Details.png"
												class = "img-fluid" alt = "Synology Manage Docker - View Details"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>Here you can view and verify the Port settings and volume settings, as well as other information.</p>
										<div class = "alert alert-primary" role = "alert">
											<h4 class = "alert-heading">Note</h4>
											<p>Please take a moment to check out the 'MONO_VERSION' enviroment variable. When requesting support, please mention
												the 'MONO_VERSION' you are using.</p>
										</div>
										<p>Press the Terminal tab to continue.</p>
									</div>

									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Manage-Docker-Details-Overview.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Manage-Docker-Details-Overview.png"
												class = "img-fluid" alt = "Synology Manage Docker - Details Overview"/></a>
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-8">
										<p>The terminal view gives you the output of the Shoko Server session. It is a useful aid in quickly determining if
											there is an issue.</p>

										<div class = "alert alert-primary" role = "alert">
											<h4 class = "alert-heading">Note</h4>
											<p>The terminal view displays work being performed by the Shoko Server in real time. However, the web interface may
												not be able to handle the amount of information being displayed at once. In addition, there is no way to pause
												the display and the terminal window does not scroll. It is a useful tool to check the status of your server
												without webui - but for detailed logging information, please see the logs located in Shoko's log folder.</p>
										</div>

									</div>
									<div class = "col-sm-4">
										<a href = "../assets/img/server/Synology-Manage-Docker-Terminal.png" data-lightbox = "image-2"><img
												src = "../assets/img/server/Synology-Manage-Docker-Terminal.png"
												class = "img-fluid" alt = "Synology Manage Docker - Terminal"/></a>
									</div>

								</div>
							</div>

						</div>
					</section>

					<section>
						<h2 id = "create-config">Creating settings.json</h2>
						<p>The default settings.json is stored within the image. When Shoko Server for Linux is started for the first time, it checks for
							the presence of settings.json and if it does not exist, then it copies the one from the image.</p>
						<p>If at any time you need to reset the configuration back to the default settings, shut down Shoko Server for Linux and delete the
							settings.json file.</p>
						<p>To create the settings.json file, start Shoko Server for Linux.</p>

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th>Default Setting</th>
								<th>Options</th>
								<th>Notes</th>
							</tr>
							</thead>

							<tbody>
							<tr>
								<td>/home/shoko/.shoko/Shoko.CLI/settings.json</td>
								<td>Volume can be mounted to relocate files.</td>
								<td>Default Location for settings.json<br>Please note that this is the location as seen within the container.<br>Depending on
									your installation, the actual location for settings.json may be in an alternate location.
								</td>
							</tbody>
						</table>

					</section>
					<section>
						<h2 id = "modify-settings">Modify settings.json</h2>
						<p>Since Shoko Server for Linux runs without a graphical interface configurations must be made to the configuration file directly.
							Please note that the configurations shown below are the minimum required configurations needed to start the server. Not all
							configurable options are defined below. The default settings.json is stored within the image. When Shoko Server for Linux is started
							for the first time, it checks for the presence of settings.json. If it does not exist, it will copy the default one from the image.
							If at any time you need to reset the configuration back to the default settings, shut down Shoko Server for Linux and delete the
							settings.json file. To create the settings.json file, start Shoko Server for Linux.</p>

						<div class = "alert alert-primary" role = "alert">
							<h4 class = "alert-heading">Concerning MySQL and SQL Server</h4>
							<p>Previously, Shoko did support both MySQL and SQL Server as possible database options due to an issue regarding some issues when
								using SQLite with a large collection. Starting with <strong>Version 3.6</strong>, we've been steadily making improvements to
								address this issue that the benefits once provided by MySQL and SQL Server are negligible. To that end support for MySQL and SQL
								Server as a database option has been deprecated.</p>

							<p>Users who are currently using either MySQL or SQL Server can still edit their database information by directly editing <strong>settings.json</strong>
								located in <strong>%ProgramData%\ShokoServer</strong>.</p>
						</div>

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th>Default Setting</th>
								<th>Options</th>
								<th>Notes</th>
							</tr>
							</thead>

							<tbody>
							<tr>
								<td>"DatabaseType": "SQLite",</td>
								<td>"SQLite", "SQLServer", "MySQL"</td>
								<td>By default it should be <strong>SQLite</strong>.</td>
							</tr>
							<tr>
								<td>"SQLServer_DatabaseServer": "localhost",</td>
								<td>"localhost", "xxx.xxx.xxx.xxx"</td>
								<td>SQLServer ONLY: This is the IP Address of the SQL Server</td>
							</tr>
							<tr>
								<td>"SQLServer_DatabaseName": "",</td>
								<td>"Shoko Server", "my_existing_name"</td>
								<td>SQLServer ONLY: This is the name of the SQL Server Database. If the database does not
									exist then it
									will
									be created.
								</td>
							</tr>
							<tr>
								<td>"SQLServer_Username": "",</td>
								<td>"sa","my_existing_username"</td>
								<td>SQLServer ONLY: This is username for the SQL Server Database.</td>
							</tr>
							<tr>
								<td>"SQLServer_Password": "",</td>
								<td>"my_sql_password"</td>
								<td>SQLServer ONLY: This is the password for the user account above, to be used for the
									SQL Server
									Database.
								</td>
							</tr>
							<tr>
								<td>"MySQL_Hostname": "localhost",</td>
								<td>"localhost", "xxx.xxx.xxx.xxx"</td>
								<td>MySQL ONLY: This is the IP Address of the MySQL Server</td>
							</tr>
							<tr>
								<td>"MySQL_SchemaName": "",</td>
								<td>"Shoko Server", "my_existing_name"</td>
								<td>MySQL ONLY: This is the name of the MySQL Server Schema. If the schema does not exist then
									it will be
									created.
								</td>
							</tr>
							<tr>
								<td>"MySQL_Username": "",</td>
								<td>"root","my_existing_username"</td>
								<td>MySQL ONLY: This is the username for the MySQL Server Database.</td>
							</tr>
							<tr>
								<td>"MySQL_Password": "",</td>
								<td>"my_mysql_password"</td>
								<td>MySQL ONLY: This is the password for the user account above, to be used for the MySQL
									Server Database.
								</td>
							</tr>
							<tr>
								<td>"AniDB_Username": "",</td>
								<td>"","my_AniDB_Username"</td>
								<td>OPTIONAL: This is your AniDB username. It is recommended to add your username if you are using an existing database.
								</td>
							</tr>
							<tr>
								<td>"AniDB_Password": "",</td>
								<td>"","my_AniDB_Password"</td>
								<td>OPTIONAL: This is your AniDB password. It is recommended to add your username if you are using an existing database.
								</td>
							</tr>
							</tbody>

						</table>
					</section>

					<section>
						<h2 id = "advanced-settings">Advanced Settings</h2>
						<p>Running shoko via docker has some additional features / options that might be useful some users.</p>

						<h4>WebUI</h4>

						<p>To be able to add a different version from the WebUI into docker we need to expose the Web UI dir inside docker to the outside world.
							This can be done by adding the following to your docker run command.</p>

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th>Command</th>
								<th>Purpose</th>
							</tr>
							</thead>

							<tbody>
							<tr>
								<td>
									<pre><code class = "language-bash">-v "/path/to/webui:/usr/src/app/build/webui"</code></pre>
								</td>
								<td>
									<p><a href = "https://docs.docker.com/engine/reference/run/#volume-shared-filesystems" target = "_blank" rel = "noopener">Mounts
										volumes.</a></p>
									<p>To preserve Web UI between updates, the Web UI folder must be remapped to a location outside the container.</p>
									<p>WebUI is a web based interface that can be used to manage the Shoko Server. You can download it from
										<a href = "https://github.com/shokoanime/Shoko Server-WebUI" target = "_blank" rel = "noopener">GitHub</a>.</p>
								</td>
							</tr>
							</tbody>
						</table>

						<h4>UID / GUID</h4>

						<p>In order to run the docker as a specific UID / GID you can specify it in the environment variables. </p>
						<p>By default shoko runs with UserID 1000 and GroupID 100.</p>

						<table class = "table table-bordered">
							<thead>
							<tr>
								<th>Command</th>
								<th>Purpose</th>
							</tr>
							</thead>

							<tbody>
							<tr>
								<td>
									<pre><code class = "language-bash">-e PUID=xxx -e GUID=xxx</code></pre>
								</td>
								<td>
									<p><a href = "https://docs.docker.com/compose/environment-variables/" target = "_blank" rel = "noopener">Set Environment Variables.</a></p>
									<p>To make docker run as a certain user/group you can define this through the ENV variables.</p>
									<p>This makes working with permissions a lot easier since you can match your docker with the local accounts on your machine
										without doing much work</p>
									<p>If you getting errors with Denied folder access then the wrong PUID and GUID could be the cause.</p>
									<p>GUID 101 should be your admin group.</p>
									<p>To find the PUID on any user, login with said user with SSH or Telnet with <a href = "https://www.putty.org/" target = "_blank" rel = "noopener">Putty</a> or something similar with the <code class = "language-bash">ID</code> command.</p>
								</td>
							</tr>
							</tbody>
						</table>

					</section>

					{% include _github_callout.html %}

				</article>
			</div>

			<div class = "col-md-2 col-xl-2 right-sidebar">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky">
					<nav class = "nav nav-toc-2 mt-3" data-accordion = "true">
						<a class = "nav-link" href = "#installing-docker">Installing on Linux</a>
						<a class = "nav-link" href = "#running-shoko-docker">Shoko on Docker</a>
						<a class = "nav-link" href = "#manage-shoko-docker"> Shoko on Docker</a>
						<a class = "nav-link" href = "#modify-settings">Modify.json</a>
						<a class = "nav-link" href = "#advanced-settings">Advanced Settings</a>
					</nav>
				</aside>
			</div>

		</div>
	</div>
</main>

