/*
---------------------------------------------
    General
---------------------------------------------
*/

a {
	font-weight: 600;
}

a:hover {
	text-decoration: none;
}

body {
	font-family: "Nunito", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background: #f9f9fb;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #323d47;
	font-family: "Barlow", sans-serif;
	font-weight: 400;
}

h2 {
	font-size: 2rem;
	margin: 1em 0;
}

h4 {
	margin-bottom: 0.5em;
}

.container {
	max-width: 1720px;
}

.form-control:focus {
	text-decoration: none;
	box-shadow:none;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
}

	/*
	---------------------------------------------
			Left Navigation
	---------------------------------------------
	*/


.nav-wrapper {
	background-image: linear-gradient(-20deg, #2b5876 0%, #4f5b7f 100%);
	border-right: 1px solid #ececec;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	padding: 2rem;
	position: fixed;
	flex-direction: column;
	height: 100%;
	top: 0;
	bottom: 0;
}

/* Nav Header */

.nav-top {
	border-bottom: 1px solid #ececec;
	padding-bottom: 2rem;
}

.nav-title {
	margin-bottom: 2rem;
	text-align: center;
}

.nav-title > a > h3 {
	color: #FFFFFF;
}

.nav-title > a > h3:hover {
	color: #50a1ff;
}

/* Nav Links */

.nav-links {
	flex-grow: 1;
	padding-top: 2em;
}

.nav {
	font-family: "Barlow", sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
}

.nav-link {
	color: #FFFFFF;
	font-weight: 500;
	padding: .5rem 0;
}

.nav-link.active {
	color: #50a1ff;
}

.nav-link:hover {
	color: #50a1ff;
}

.nav-link[data-toggle].collapsed:after {
	content: "▾";
	padding-left: 1em
}

.nav-link[data-toggle]:not(.collapsed):after {
	content: "▴";
	padding-left: 1em
}

/* Bottom Nav Links */

.nav-bottom-wrapper {
	border-top: 1px solid #ececec;
	padding-top: 2em;
	text-align: center;
}

.nav-bottom-wrapper > a {
	color: #FFFFFF;
	font-family: "Barlow", sans-serif;
	font-size: 1em;
	font-weight: 500;
}

.nav-bottom-wrapper > a:hover {
	color: #50a1ff;
}

.nav-bottom-spacer {
	padding: 0 1em;
}

/*
---------------------------------------------
    Content Related
---------------------------------------------
*/

.header-wrapper {
	display: flex;
}

.header-github {
	margin-left: auto;
	padding-top: 0.75em
}

.header-github > a {
	display: flex;
}

.header-github > a > i.fab.fa-github {
	padding-right: 0.5em;
}

.header-github > a > p{
	margin-top: 0.3em;
	margin-bottom: 0;
}

/*
---------------------------------------------
    Content Related
---------------------------------------------
*/

.content-box {
	padding: 3rem;
	margin-left: -5rem;
	max-width: 1500px;
}


.anchor:before {
	color: #50a1ff;
	content: '#';
	font-weight: 500;
	opacity: 0.5;
	padding-right: 1.5rem;
	position: absolute;
	right: 101%;
	vertical-align: text-bottom;
}

/*
---------------------------------------------
    Footer
---------------------------------------------
*/

.footer-wrapper {
	padding: 1rem 3rem;
	font-size: 0.75em;
	margin-left: -5rem;
}

.footer-info {
	border-top: 1px solid rgba(0,0,0,.1);
	display: flex;
}

.footer-copyright {
	margin-top: 1rem
}

.footer-date {
	margin-left: auto;
	margin-top: 1rem
}



