
/*
 * Custom CSS 
 * Place all CSS changes and additions in the section below. Every so often we wil re-minify the 
 * CSS and include all additions in this section. If you are adding new CSS classes please indicate
 * that's its addition. 
 *
 * Color and style changes will be rejected unless previously discussed. 
*/

h1 a::before, h2 a::before, h3 a::before {
    margin-left: -30px;
    margin-right: 8px;
    font-family: Glyphicons Halflings;
    font-size: 22px;
    color: #006cab;
    opacity: 1;
    content: "\e144";
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

h4 a::before {
    margin-left: -30px;
    margin-right: 8px;
    font-family: Glyphicons Halflings;
    font-size: 18px;
    color: #006cab;
    opacity: 1;
    content: "\e144";
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.change {
    font-weight: 600;
}

.github-callout {
    padding-top: 50px;
}

.has-child.open {
    background-color: #5cc7b2 !important;
    color: #FFFFFF !important;
}

.hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hr-menu {
    margin-left: 10%;
    margin-right: 10%;
}

.main-content > section {
    padding-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    font-weight: 600;
}

.site-header .navbar {
    background-color: #157f79;
}

.sidenav a {
    color: #FFFFFF;
    font-weight: 600;
}

.sidenav a.active {
    font-weight: 600;
    background-color: #5cc7b2;
    color: #FFFFFF;
}

.sidebar-boxed {
    background-color: #217ebd;
    z-index: 2;
}

.sidebar-boxed .sidenav a.open, .sidebar-boxed .sidenav a.open + ul {
    background-color: #006cab;
}

.sidebar-boxed .sidenav > li > a {
    color: #FFFFFF;
}

.sidebar-boxed .sidenav > li > a:hover {
    background-color: #5cc7b2;
    ;
    color: #FFFFFF;
}

.sidenav > li > ul a.active, .sidenav > li > ul li.active a {
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    
    .sidebar {
        background-color: #006cab !important;
        color: #FFFFFF;
    }
    
    .site-header .navbar {
        background-color: #157f79 !important;
    }
}
