/*
---------------------------------------------
		01. General
		02. Sidebar Navigation
		03. Top Navigation
		04. Page
		05. Breadcrumbs
		06. Index
		07. Footer
		08. Changelog
		09. FAQ
		10. Tables
---------------------------------------------
*/


/*
---------------------------------------------
		1. General
---------------------------------------------
*/

*, :after, :before {
    box-sizing: inherit;
}

a {
    color: var(--linkNormal);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: var(--linkHover);
    text-decoration: none;
}

body {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    display: none;
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    line-height: 1.9;
}

code {
    background-color: #ffeff0;
    border-radius: 4px;
    color: var(--fontColor);
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    padding: 6px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--linkHover);
    font-family: "Exo 2", sans-serif;
}

pre {
    background-color: var(--navBackground);
    border: var(--borderColor) 1px solid;
    border-left: 7px solid var(--fontStrong);
    border-radius: 4px;
    color: var(--fontColor);
    overflow: auto;
    padding: 1em;
}

pre code {
    background: none !important;
}

strong {
    color: var(--fontStrong);
}

.alert {
    border-radius: .75rem;
}

.alert-heading {
    font-size: 0.9125rem;
    font-weight: 700;
}

.alert-text {
    color: var(--fontColor) !important;
    font-size: 0.875rem;
    font-weight: 600;
}

.markdown-image {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    display: flex;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    margin: 2rem auto;
    max-height: 480px;
    max-width: 850px;
    width: auto;
}

.navbar-dark .navbar-toggler {
    border-color: var(--fontColor)
}

.shoko-text {
    color: var(--linkHover);
    display: none;
    font-size: 1.5rem;
    margin-right: auto;
}

.smartphoto-img-wrap {
    image-rendering: pixelated;
}

.gsc-control-cse {
    padding: 0 !important;
}

.hr1 {
    margin: 2rem 0;
}

.hr2 {
    margin: 2rem 0;
}

.navbar-mobile {
    display: none;
}

/*
---------------------------------------------
		2. Sidebar Navigation
---------------------------------------------
*/

.main-nav-wrapper {
    background: var(--navBackground);
    border-right: 1px var(--borderColor) solid;
    height: 100vh;
    min-width: 320px;
    position: sticky;
    top: 0;
    width: calc((100% - 1448px) / 2 + 260px);
}

.main-nav-link-wrapper {
    display: flex;
}

.main-nav-header {
    font-size: 2rem;
    font-weight: 600;
    padding-left: calc(100% - 265px);
    padding-top: 2rem;
}

.nav-sidebar {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    font-weight: 400;
    margin-top: 2rem;
    padding-left: calc(100% - 265px);
}

.sidebar-nav {
    height: auto;
    position: sticky;
    top: 10px;
}

.nav-header {
    color: var(--fontColorAlt);
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    margin: 2rem;
    text-transform: uppercase;
}

.nav-header-highlight {
    color: var(--linkHover);
}

.navbar {
    padding: .5rem 0;
    width: 100%;
}

.nav-sidebar .nav {
    display: none;
    flex-wrap: nowrap;
    margin-left: 0.75rem;
}

.nav-sidebar .nav-link {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: 3px 0;
}

a.nav-title {
    color: var(--linkHover) !important;
    font-size: 0.9rem;
    font-weight: 700;
}

.nav-title-wrapper .nav-link {
    font-size: 0.9rem;
    margin-left: 0.75rem;
}

.nav-link.active {
    color: var(--linkHover);
}

.nav-sidebar .nav-item {
    flex-shrink: 0;
    margin: 4px 0;
    overflow: hidden;
    padding-right: 5px;
}

.nav-item > a {
    color: var(--fontColor);
    font-weight: 700;
}

.nav-item > a:hover {
    color: var(--linkHover);
}

.nav-title-wrapper > a {
    color: var(--fontColor);
}

.nav-title-wrapper > a:hover {
    color: var(--linkHover);
}

.nav-item-single {
    color: var(--linkHover) !important;
}

.nav-secondary {
    margin-top: 3rem;
}

.nav-sidebar .nav-angle.rotate {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-sidebar .nav-angle {
    display: inline-block;
    font-style: normal;
    margin-top: 2px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
}

/*
---------------------------------------------
		3. Top Nav
---------------------------------------------
*/

.top-nav-wrapper {
    border-bottom: 1px var(--borderColor) solid;
    height: 90px;
}

.top-nav-link-wrapper {
    display: flex;
    margin: auto;
    max-width: 1200px;
    padding: 1.5rem 4rem;
}

.top-nav-link {
    color: var(--fontColor);
    font-weight: 600;
    margin-right: 2rem;
}

.top-nav-links {
    width: 800px;
}

.search-wrapper {
    display: flex;
    margin-left: 8rem;
}

.top-nav-search-icon {
    margin: auto;
}

.search-input {
    background-color: var(--backgroundColor);
    border: none;
    color: var(--fontColor);
    font-weight: 600;
    margin-left: 1rem;
    outline: 0;
    padding-top: 0.5rem;
}

.mobile-nav-wrapper {
    display: flex;
}

.mobile-nav-menu {
    margin-left: auto;
}

/*
---------------------------------------------
		4. Page
---------------------------------------------
*/

.page-wrapper {
    display: flex;
}

.page-outer-wrapper {
    width: 100%;
}

.page-section-wrapper {
    display: flex;
    margin: auto;
    max-width: 1200px;
    min-height: calc(1226px - 308px);
    padding: 5rem 4rem;
}

.page-content-wrapper {
    width: 67%;
}

.page-search-wrapper {
    max-width: 1200px;
    width: 100%;
}

.page-content-wrapper > h2 {
    margin: 2rem 0;
}

.page-content-wrapper > h3 {
    margin: 0.5rem 0 1.5rem 0;
}

.page-first-header {
    margin: 0 0 2rem 0 !important;
}

.page-nav-wrapper {
    margin-left: 8rem;
}

.page-nav-search {
    display: none;
}

.page-nav-link-wrapper {
    padding-left: 1rem;
    padding-right: 0;
    position: sticky;
    top: 50px;
}

.page-nav-title {
    color: var(--fontStrong);
    font-size: 0.9125rem;
    font-weight: 700;
    padding: 0.21em 0;
}

.page-nav-link {
    color: var(--fontColor) !important;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.21em 0;
}

.page-nav-link:hover {
    color: var(--linkHover);
}

.page-nav-link.active {
    color: var(--linkHover) !important;
}

.page-nav-link.active:before {
    background-color: var(--borderColor);
    bottom: 0;
    content: '';
    display: inline-block;
    height: 1.1rem;
    left: -20px;
    position: relative;
    top: 4px;
    width: 2px;
    z-index: 1;
}

.page-nav-link:before {
    background-color: var(--borderColor);
    bottom: 0;
    content: '';
    left: -4px;
    position: absolute;
    top: 0;
    width: 2px;
}


/*
---------------------------------------------
		5. Breadcrumbs
---------------------------------------------
*/

.breadcrumb-outer-wrapper {
    background: var(--breadcrumbBackground);
    border-bottom: 1px var(--borderColor) solid;
}

.breadcrumb-wrapper {
    display: flex;
    margin: auto;
    max-width: 1200px;
    padding: 1.5rem 4rem;
}

.breadcrumb-list {
    width: 800px;
}

.breadcrumb-list > a {
    font-weight: 600;
}

.breadcrumb-separator {
    margin: 0 0.5rem;
}

.breadcrumb-active {
    color: var(--fontStrong);
    font-weight: 600;
}

.github-wrapper {
    margin-left: 8rem;
}

.github-wrapper > a {
    font-weight: 600;
}

.github-icon {
    color: var(--linkNormal);
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

/*
---------------------------------------------
		6. Index
---------------------------------------------
*/

.index-content-wrapper {
    margin: auto;
    max-width: 1200px;
    min-height: calc(1226px - 308px);
    padding: 5rem;
}

.index-content-wrapper > h2 {
    margin-bottom: 2rem;
}

/*
---------------------------------------------
		7. Footer
---------------------------------------------
*/

.footer-wrapper {
    background-color: var(--breadcrumbBackground);
    border-top: 1px var(--borderColor) solid;
    height: 80px;
    overflow: hidden;
    width: 100%;
}

.footer-info {
    color: var(--fontColor);
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 0 4rem;
}

.footer-links {
    margin: auto 0;
}

.footer-links > .navbar-nav {
    flex-direction: row;
}

.footer-links > a {
    color: var(--fontColor) !important;
    font-weight: 600;
}

.footer-links > a:hover {
    color: var(--linkHover) !important;
    text-decoration: none;
}

.footer-links-spacer {
    padding: 0 2rem;
}

.footer-copyright {
    font-weight: 600;
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
}

.footer-copyright > p {
    margin: 0;
}

/*
---------------------------------------------
		8. Changelog
---------------------------------------------
*/

.changelog-index-header {
    margin-bottom: 2rem;
}

.changelog-header-wrapper {
    display: flex;
    font-family: "Exo 2", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

.changelog-header-spacer {
    margin: 0 0.5rem;
}

.changelog-item-wrapper {
    margin: 3rem 0;
}

.changelog-item {
    display: flex;
}

.changelog-item-placeholder {
    border-radius: 4px;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    height: 100%;
    margin-bottom: 1rem;
    max-height: 30px;
    max-width: 100px;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#changelog-item-added {
    background: #E1F0FF;
    border: 1px solid #3699FF;
    color: #3699FF;
}

#changelog-item-changed {
    background: #C9F7F5;
    border: 1px solid #1BC5BD;
    color: #1BC5BD;
}

#changelog-item-fixed {
    background: #FFF4DE;
    border: 1px solid #FFA800;
    color: #FFA800;
}

#changelog-item-removed {
    background: #FFE2E5;
    border: 1px solid #F64E60;
    color: #F64E60;
}

.changelog-item-text {
    margin-left: 2rem;
    padding: 0.2rem 0.5rem;
}

/*
---------------------------------------------
		9. FAQ
---------------------------------------------
*/

.faq-card {
    border: none;
}

.faq-card-title {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 1rem;
}

.faq-card {
    background: var(--backgroundColor);
}

.faq-card-body > h5 {
    margin: 0.5rem 0 1.5rem 0;
}

.faq-card-body {
    padding: 1rem 0;
}

.accordion {
    margin-bottom: 1rem;
}

/*
---------------------------------------------
    10. Tables
---------------------------------------------
*/

.table {
    color: var(--fontColor);
    font-size: 0.9375rem;
}

.table-bordered {
    border: 1px solid var(--borderColor);
}

.table-bordered td, .table-bordered th {
    border: 1px solid var(--borderColor);
}

.table-bordered tbody tr:nth-of-type(even) {
    background-color: var(--rowBackgroundEven);
}

.table-bordered tbody tr:nth-of-type(odd) {
    background-color: var(--rowBackgroundOdd);
}

.table thead th {
    background: var(--navBackground);
    border-bottom: 2px solid var(--borderColor);
    vertical-align: bottom;
}

thead tr th:first-child,
tbody tr td:first-child {
    max-width: 350px;
}

.table-code-block {
    background-color: var(--navBackground);
    border: var(--borderColor) 1px solid;
    border-left: 7px solid var(--fontStrong);
    border-radius: 4px;
    color: var(--fontColor);
    display: block;
    font-size: 87.5%;
    margin: 1.5rem 0 !important;
    overflow: auto;
    padding: 1em;
}
