/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

@import "./overrides.css";

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  /*--vp-home-hero-name-color: transparent;*/
  /*--vp-home-hero-name-background: -webkit-linear-gradient(*/
  /*        90deg,*/
  /*        #0450AD 0%,*/
  /*        #FFFFFF 100%*/
  /*);*/

  --vp-home-hero-image-filter: blur(44px);
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #0450ad 0%,
    #47caff 100%
  );
}

.dark {
  --vp-sidebar-bg-color: var(--vp-c-bg-elv);
  --vp-c-text-1: rgba(234, 234, 243, 0.95);

  & strong {
    color: var(--vp-c-warning-1);
  }
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

strong {
  color: var(--vp-c-danger-2);
  font-weight: 600;
}

.custom-block-title::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--vp-c-text-1);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin-top: -0.1em;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.info > .custom-block-title::before {
  -webkit-mask-image: url("/images/info.svg");
  mask-image: url("/images/info.svg");
}

.tip > .custom-block-title::before {
  -webkit-mask-image: url("/images/lightbulb.svg");
  mask-image: url("/images/lightbulb.svg");
}

.warning > .custom-block-title::before {
  -webkit-mask-image: url("/images/triangle-alert.svg");
  mask-image: url("/images/triangle-alert.svg");
}

.danger > .custom-block-title::before {
  -webkit-mask-image: url("/images/octagon-alert.svg");
  mask-image: url("/images/octagon-alert.svg");
}

.important > .custom-block-title::before {
  -webkit-mask-image: url("/images/message-square-warning.svg");
  mask-image: url("/images/message-square-warning.svg");
}
