<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu" href="#">Shoko Server<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu" href="{{ "server/install" | relURL }}">How To Install</a>
		<a class="nav-link nav-menu" href="{{ "server/setup" | relURL }}">First Run Setup</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu" href="#">Shoko Metadata<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu" href="{{ "shokometadata/install" | relURL }}">How To Install</a>
		<a class="nav-link nav-menu" href="{{ "shokometadata/setup" | relURL }}">Setup Shoko Metadata</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu" href="#">My Anime 3<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu" href="{{ "myanime3/install" | relURL }}">Install & Configuration</a>
		<a class="nav-link nav-menu" href="{{ "myanime3/overview" | relURL }}">Using My Anime 3</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu" href="#">Changelog<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu" href="{{ "changelog/server" | relURL }}">Shoko Server</a>
		<a class="nav-link nav-menu" href="{{ "changelog/desktop" | relURL }}">Shoko Desktop</a>
		<a class="nav-link nav-menu" href="{{ "changelog/webui" | relURL }}">Shoko WebUI</a>
		<a class="nav-link nav-menu" href="{{ "changelog/shokometadata" | relURL }}">Shoko Metadata</a>
		<a class="nav-link nav-menu" href="{{ "changelog/myanime3" | relURL }}">My Anime 3</a>
	</div>
</li>
<li class="nav-item"><a href="{{ "faq" | relURL }}">Frequently Asked Questions</a></li>