<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu {{if eq .RelPermalink "/server/"}}active{{end}}" href="#">Shoko Server<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu {{if in .RelPermalink "/server/install/"}}active{{end}}" href="{{"server/install" | relURL}}">How To Install</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/server/setup/"}}active{{end}}" href="{{"server/setup" | relURL}}">First Run Setup</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu {{if eq .RelPermalink "/desktop/"}}active{{end}}" href="#">Shoko Desktop<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu {{if in .RelPermalink "/desktop/install/"}}active{{end}}" href="{{"desktop/install" | relURL}}">How To Install</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu {{if eq .RelPermalink "/shokometadata/"}}active{{end}}" href="#">Shoko Metadata<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu {{if in .RelPermalink "/shokometadata/install/"}}active{{end}}" href="{{"shokometadata/install" | relURL}}">How To Install</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/shokometadata/setup/"}}active{{end}}" href="{{"shokometadata/setup" | relURL}}">Setup Shoko Metadata</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu {{if eq .RelPermalink "/shokofin/"}}active{{end}}" href="#">Shokofin<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu {{if in .RelPermalink "/shokofin/install/"}}active{{end}}" href="{{"shokofin/install" | relURL}}">How To Install</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu {{if eq .RelPermalink "/myanime3/"}}active{{end}}" href="#">My Anime 3<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu {{if in .RelPermalink "/myanime3/install/"}}active{{end}}" href="{{"myanime3/install" | relURL}}">Install & Configuration</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/myanime3/overview/"}}active{{end}}" href="{{"myanime3/overview" | relURL}}">Using My Anime 3</a>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link nav-menu sidenav-menu {{if eq .RelPermalink "/changelog/"}}active{{end}}" href="#">Changelog<i class="nav-angle"></i></a>
	<div class="nav nav-title-wrapper">
		<a class="nav-link nav-menu {{if in .RelPermalink "/changelog/server/"}}active{{end}}" href="{{"changelog/server" | relURL}}">Shoko Server</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/changelog/desktop/"}}active{{end}}" href="{{"changelog/desktop" | relURL}}">Shoko Desktop</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/changelog/webui/"}}active{{end}}" href="{{"changelog/webui" | relURL}}">Shoko WebUI</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/changelog/shokometadata/"}}active{{end}}" href="{{"changelog/shokometadata" | relURL}}">Shoko Metadata</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/changelog/shokofin/"}}active{{end}}" href="{{"changelog/shokofin" | relURL}}">Shokofin</a>
		<a class="nav-link nav-menu {{if in .RelPermalink "/changelog/myanime3/"}}active{{end}}" href="{{"changelog/myanime3" | relURL}}">My Anime 3</a>
	</div>
</li>
<li class="nav-item">
	<a class="{{if in .RelPermalink "/faq/"}}nav-item-single{{end}}" href="{{"faq" | relURL}}">Frequently Asked Questions</a>
</li>
