{{$fileDir := replace $.Page.File.Dir "\\" "/"}}
{{$fileName := $.Page.File.BaseFileName}}
{{$fileLocation := print $fileDir $fileName ".md"}}

<div class="breadcrumb-outer-wrapper">
	<div class="breadcrumb-wrapper">
		<div class="breadcrumb-list">

        {{$url := replace .Permalink ( printf "%s" .Site.BaseURL) ""}}
        {{$.Scratch.Add "path" .Site.BaseURL}}
        {{$len := len (split $url "/")}}
        {{$len := sub $len 2}}
			<a href="/">{{.Site.Title}}</a>
        {{range $index, $element := split $url "/"}}
            {{$.Scratch.Add "path" $element}}
            {{if ne $element ""}}
							<span class="breadcrumb-separator">/</span>
              {{if ne $index $len}}
                  {{if eq $element "myanime3"}}
                      {{$elementPart := replace . "myanime3" "My Anime 3"}}
											<a href='{{$.Scratch.Get "path" | relLangURL}}'>{{$elementPart}}</a>
                  {{else if eq $element "shokometadata"}}
                      {{$elementPart := replace . "shokometadata" "Shoko Metadata"}}
											<a href='{{$.Scratch.Get "path" | relLangURL}}'>{{$elementPart}}</a>
                  {{else}}
										<a href='{{$.Scratch.Get "path" | relLangURL}}'>{{. | humanize}}</a>
                  {{end}}
              {{else}}
								<span class="breadcrumb-active">{{$.Page.Title}}</span>
              {{end}}
              {{$.Scratch.Add "path" "/"}}
            {{end}}
        {{end}}

		</div>
		<div class="github-wrapper">
			<i class="fab fa-github github-icon"></i>
			<a href="https://github.com/shokoanime/Shokodocs/blob/master/content/{{$fileLocation}}">Edit On GitHub</a>
		</div>
	</div>
</div>
