<div class="top-nav-wrapper">
	<div class="top-nav-link-wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark">

			<div class="navbar-nav nav-links top-nav-links">
				<a class="navbar-link top-nav-link" href="https://docs.shokoanime.com">Home</a>
				<a class="navbar-link top-nav-link" href="https://shokoanime.com">Website</a>
				<a class="navbar-link top-nav-link" href="https://discord.gg/vpeHDsg" target="_blank"
				   rel="noopener">Support</a>
				<a class="navbar-link top-nav-link" href="https://github.com/ShokoAnime/ShokoDocs" target="_blank"
				   rel="noopener">Github</a>
			</div>

			<div class="search-wrapper">
				<i class="fas fa-search top-nav-search-icon"></i>
				<form name="cse" id="searchbox" action="/search/" method="get">
					<input type="hidden" name="cx" value="000649133662658939805:7nv0dx66q_4"/>
					<input type="hidden" name="ie" value="utf-8"/>
					<input type="hidden" name="hl" value="en"/>
					<input name="q" type="text" class="search-input" autocomplete="off"
					       placeholder="Search ShokoDocs..."/>
				</form>
			</div>

			<span class="shoko-text">Shoko Docs</span>

			<span class="navbar-toggler" onclick="openNav()">
					<i class="navbar-mobile-icon fas fa-bars fa-lg"></i>
				</span>

			<div class="navbar-collapse" id="mobileSidenav">
				<div class="navbar-mobile">
					<a class="sidenav-close" href="javascript:void(0)" onclick="closeNav()">×</a>
					<ul class="nav nav-sidebar nav-sidebar-pill" data-accordion="false">
						{{ partial "nav-lang/nav-index.html" . }}
						<li class="nav-item"><a id="themeSwitcherMobile" href="#">Dark Theme</a></li>
						<li class="nav-item">
							<a class="nav-link nav-menu sidenav-menu" href="#">Language<i class="nav-angle"></i></a>
							<div class="nav nav-title-wrapper">
								{{ range .Translations }}
								<a class="nav-link nav-menu" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
								{{ end }}
								<a class="nav-link nav-menu" href="{{ "translate" | relLangURL }}">Translate</a>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</nav>
	</div>
</div>