<div class="main-nav-link-wrapper">
	<ul class="nav nav-sidebar nav-sidebar-pill" data-accordion="false">

		{{  if eq .Site.Language.Lang "en"  }}
		{{ partial "nav-lang/nav-en.html" . }}
		{{ end }}

		<span class="nav-secondary"></span>

		<li class="nav-item"><a id="themeSwitcher" href="#">Dark Theme</a></li>
		<li class="nav-item">
			<a class="nav-link nav-menu sidenav-menu" href="#">Language<i class="nav-angle"></i></a>
			<div class="nav nav-title-wrapper">
				{{ range .Translations }}
				<a class="nav-link nav-menu" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
				{{ end }}
				<a class="nav-link nav-menu" href="{{ "translate" | relLangURL }}">Translate</a>
			</div>
		</li>

	</ul>
</div>
