<div class="nav-link nav-menus-wrapper">
	<ul class = "nav nav-sidebar nav-sidebar-pill" data-accordion = "true">
		<li class = "nav-item">
			<a class = "nav-link nav-menu" href = "#">Shoko Server<i class = "nav-angle"></i></a>
			<div class = "nav nav-title-wrapper">

				<a class = "nav-title">Installing Shoko Server</a>
				<a class = "nav-link nav-menu"  href = "/server/install_windows">Shoko Server On Windows</a>
				<a class = "nav-link nav-menu" href = "/server/install_linux">Shoko Server On Linux</a>
				<a class = "nav-title">Using Shoko Server</a>
				<a class = "nav-link nav-menu" href = "/server/config">Configure Settings</a>
				<a class = "nav-link nav-menu" href = "/server/webui">Configure Web UI</a>

			</div>
		</li>
		<li class = "nav-item">
			<a class = "nav-link nav-menu" href = "#">Shoko Desktop<i class = "nav-angle"></i></a>
			<div class = "nav nav-title-wrapper">

				<a class = "nav-title">Installing Shoko Server</a>
				<a class = "nav-link nav-menu"  href = "/server/install_windows">Shoko Server On Windows</a>
				<a class = "nav-link nav-menu" href = "/server/install_linux">Shoko Server On Linux</a>
				<a class = "nav-title">Using Shoko Server</a>
				<a class = "nav-link nav-menu" href = "/server/config">Configure Settings</a>
				<a class = "nav-link nav-menu" href = "/server/webui">Configure Web UI</a>

			</div>
		</li>
		<li class = "nav-item">
			<a class = "nav-link nav-menu" href = "#">My Anime 3<i class = "nav-angle"></i></a>
			<div class = "nav">

				<a class = "nav-link nav-menu"  href = "/myanime3/install">Install My Anime 3</a>
				<a class = "nav-link nav-menu"  href = "/myanime3/config">Configuring My Anime 3</a>

			</div>
		</li>
		<li class = "nav-item">
			<a class = "nav-link nav-menu" href = "#">Changelog<i class = "nav-angle"></i></a>
			<div class = "nav">

				<a class = "nav-link nav-menu"  href = "/changelog/server">Shoko Server</a>
				<a class = "nav-link nav-menu" href = "/changelog/desktop">Shoko Desktop</a>
				<a class = "nav-link nav-menu" href = "/changelog/myanime3">My Anime 3</a>
				<a class = "nav-link nav-menu" href = "/changelog/shokoplex">Shoko on Plex</a>

			</div>
		</li>
		<li class="nav-item "><a href="/faq">Frequently Asked Questions</a></li>

	</ul>
</div>