<div class="nav-link nav-menus-wrapper">
	<ul class="nav nav-sidebar nav-sidebar-pill" data-accordion="false">

		<li class="nav-item">
			<a class="nav-link nav-menu sidenav-menu" href="#">Shoko Server<i class="nav-angle"></i></a>
			<div class="nav nav-title-wrapper">

				<a class="nav-title">Installing Shoko Server</a>
				<a class="nav-link nav-menu" href="/server/install_windows">Shoko Server On Windows</a>
				<a class="nav-link nav-menu" href="/server/install_linux">Shoko Server On Linux</a>
				<a class="nav-title">Using Shoko Server</a>
				<a class="nav-link nav-menu" href="/server/config">Configure Settings</a>
				<a class="nav-link nav-menu" href="/server/webui">Configure Web UI</a>

			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link nav-menu sidenav-menu" href="#">Shoko Desktop<i class="nav-angle"></i></a>
			<div class="nav nav-title-wrapper">

				<a class="nav-title">Installing Shoko Server</a>
				<a class="nav-link nav-menu" href="/desktop/install_windows">Installing Shoko Desktop</a>
				<a class="nav-title">Using Shoko Desktop</a>
				<a class="nav-link nav-menu" href="/desktop/utilities">Utilities</a>

			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link nav-menu sidenav-menu" href="#">My Anime 3<i class="nav-angle"></i></a>
			<div class="nav">

				<a class="nav-link nav-menu" href="/myanime3/install">Install My Anime 3</a>
				<a class="nav-link nav-menu" href="/myanime3/config">Configuring My Anime 3</a>

			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link nav-menu sidenav-menu" href="#">Changelog<i class="nav-angle"></i></a>
			<div class="nav">

				<a class="nav-link nav-menu" href="/changelog/server">Shoko Server</a>
				<a class="nav-link nav-menu" href="/changelog/desktop">Shoko Desktop</a>
				<a class="nav-link nav-menu" href="/changelog/myanime3">My Anime 3</a>
				<a class="nav-link nav-menu" href="/changelog/shokoplex">Shoko on Plex</a>

			</div>
		</li>
		<li class="nav-item "><a href="/faq">Frequently Asked Questions</a></li>

	</ul>

	<div class="search-wrapper">
		<form name="cse" id="searchbox" action="/search/" method="get">
			<input type="hidden" name="cx" value="000649133662658939805:7nv0dx66q_4"/>
			<input type="hidden" name="ie" value="utf-8"/>
			<input type="hidden" name="hl" value="en"/>
			<input name="q" type="text" class="search-input" autocomplete="off" placeholder="Search ShokoDocs..."/>
		</form>
	</div>

</div>
