<!doctype html>
<html lang="en">

{{partial "head.html" .}}

<body class="lang-{{.Site.Language.Lang}}">

<div class="page-wrapper">

	<div class="main-nav-wrapper">
		<h3 class="main-nav-header">Shoko Docs</h3>
		{{partial "nav-main.html" .}}
	</div>

	<div class="page-outer-wrapper">

		{{partial "nav-top.html" .}}
		{{partial "breadcrumb.html" .}}

		<div class="index-content-wrapper">

			<h2>Sorry About That!</h2>

			<p>Hmm, looks like the page you were looking for has either been moved or the URL is incorrect.</p>

			<p>Here are a couple solutions to help get you on the correct path.</p>

			<ul>
				<li>Check the menu on the left for the page you were originally trying to access.</li>
				<li>Try using the search function at the top.</li>
				<li>Hop on Discord and blame Elemental Crisis.</li>
			</ul>

			<p>If you accessed this link in Shoko, please let us know so we can fix it to prevent this from happening in
				future versions.</p>

		</div>
		{{partial "footer.html" .}}
	</div>

</div>

{{partial "scripts.html" .}}

</body>
</html>

