<!doctype html>
<html lang="en">

{{partial "head.html" .}}

<body class="lang-{{.Site.Language.Lang}}">

<div class="page-wrapper">

    <div class="main-nav-wrapper">
        <h3 class="main-nav-header">Shoko Docs</h3>
        {{partial "nav-main.html" .}}
    </div>

    <div class="page-outer-wrapper">

        {{partial "nav-top.html" .}}
        {{partial "breadcrumb.html" .}}

        <div class="index-content-wrapper">

            <h2>Sorry About That!</h2>

            <p>Hmm, looks like the page you were looking for has either been moved or the URL is incorrect.</p>

            <p>Here are a couple solutions to help get you on the correct path.</p>

            <ul>
                <li>Check the menu on the left for the page you were originally trying to access.</li>
                <li>Try using the search function at the top.</li>
                <li>Hop on Discord and blame Elemental Crisis.</li>
            </ul>

            <p>If you accessed this link in <strong>Shoko Desktop</strong>, please hop on our Discord for assistance
                using the link below.</p>
            <iframe src="https://discord.com/widget?id=96234011612958720&theme=dark" width="350" height="500"
                    allowtransparency="true" frameborder="0"
                    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

        </div>
        {{partial "footer.html" .}}
    </div>

</div>

{{partial "scripts.html" .}}

</body>
</html>

