/* EasyTable */

.easy-wrapper {
    margin: 2rem 0;
}

.easy-header {
    background: var(--tertiary-background);
    display: flex;
    padding: 1rem;
}

.easy-row {
    background: var(--secondary-background);
    border-bottom: 2px solid var(--tertiary-background);
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.easy-row > div {
    margin: auto 0;
}

.easy-row > div > p {
    margin: 0 !important;
}

.easy-row > div > code {
    overflow-x: auto;
    white-space: pre;
    width: 85%;
    display: flex;
}

/* Changelog */

.changelog-wrapper {
    display: flex;
    flex-direction: row;
}

.changelog-left {
    background: var(--tertiary-background);
    border-radius: 12.5px;
    box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
    margin-bottom: 1rem;
    max-width: 958px;
    padding: 2rem;
    width: 100%;
}

.changelog-type {
    font-weight: 500;
    text-transform: capitalize;
}

.changelog-item-wrapper {
    margin: 1rem 0;
}

.changelog-added {
    color: var(--changelog-added);
}

.changelog-changed {
    color: var(--changelog-changed);
}

.changelog-fixed {
    color: var(--changelog-fixed);
}

.changelog-removed {
    color: var(--changelog-removed);
}

.changelog-right {
    border-left: 3px solid var(--tertiary-background);
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding-left: 2rem;
    width: 200px;
}

.changelog-version {
    font-weight: 500;
    width: 138px;
}

.changelog-version:before {
    background: var(--tertiary-background);
    border: 2px solid var(--highlight-color-1);
    border-radius: 50%;
    content: "\A";
    display: inline-block;
    height: 10px;
    margin-left: -2.55rem;
    margin-top: 0.625rem;
    position: absolute;
    width: 10px;
}

.changelog-date,
.changelog-link {
    font-size: 14px;
}

/* Accordion */

.accordion-wrapper {
    margin-bottom: 0.5rem;
}

.accordion-header {
    background: var(--tertiary-background);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.accordion-header:hover {
    color: var(--highlight-color-1)
}

.accordion-header-open {
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--highlight-color-1);
}

.accordion-body {
    background: var(--secondary-background);
    border: 2px solid var(--tertiary-background);
    padding: 1rem;
}

.accordion-body-open {
    border-radius: 0 0 0.5rem 0.5rem;
}

.accordion-body-close {
    display: none;
}