:root {
    /*Custom CSS Variables*/
    --primary-background: #FFFFFF;
    --secondary-background: #F5F6F8;
    --tertiary-background: #dae1e7;
    --font-color: #3a4f6a;

    --highlight-color-1: #3699FF;
    --highlight-color-2: #F64E60;
    --highlight-color-3: #BC8CFF;
    --highlight-color-4: #eca21a;
    --highlight-color-5: #23aca5;
}
