[data-theme='dark'] {
    --primary-background: #1e1e20;
    --secondary-background: #161618; /*282a36 | 29292f*/
    --tertiary-background: #29292e;
    --font-color: #CFD8E3;

    --highlight-color-1: #279CEB;
    --highlight-color-2: #FF5252;
    --highlight-color-3: #BC8CFF;
    --highlight-color-4: #E3B341;
    --highlight-color-5: #41E382;
}

