---
layout: sub
title: {title}
permalink: {link}
---
<!-- Sidebar -->
<aside class="col-lg-2 col-md-3 col-sm-3 sidebar">
	<ul class="nav sidenav dropable sticky">
		<li><a class="has-child" href="#whats-covered">Link 1</a>
			<ul>
				<li><a href="#whats-covered">Sub-Link 1</a></li>
				<li><a href="#whats-covered">Sub-Link 2</a></li>
			</ul>
		</li>
		<li><a class="has-child" href="#whats-covered">Link 2</a>
			<ul>
				<li><a href="#whats-covered">Sub-Link 1</a></li>
				<li><a href="#whats-covered">Sub-Link 2</a></li>
			</ul>
		</li>
	</ul>
</aside>
<!-- END Sidebar -->

<!-- Index.html sidebar -->

<!--

		<ul class="sidenav dropable sticky">
				<li> <a class="has-child" href="#">Main Link 1</a>
						<ul>
								<li><a href="#">Sub-Link 1</a></li>
								<li><a href="#">Sub-Link 2</a></li>
						</ul>
				</li>
				<li> <a class="has-child" href="#">Main Link 2</a>
						<ul>
								<li><a href="#">Sub-Link 1</a></li>
								<li><a href="#">Sub-Link 2</a></li>
						</ul>
				</li>
				<li class="hr-menu"><hr></li>
				<li><a href="#">Main Link 3</a></li>
				<li><a href="#">Main Link 4</a></li>
		</ul>

-->

<!-- Main content -->
<article class="col-lg-10 col-md-9 col-sm-9 main-content" role="main">
	<header>
		<h1>Page Title</h1>
		<p>Quick page description.</p>
		<script language="javascript" src="../assets/js/breadnav.js"></script>
	</header>
	<section>
		<h2 id="whats-covered">First Main Talking Point</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	</section>
	<section>
		<h2 id="Grid">Grid Example</h2>
		<div class="row">

			<div class="col-sm-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
					est laborum</p>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Table</th>
						<th>Example</th>
						<th>Third Column</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					</tbody>
				</table>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
					est laborum.</p>
			</div>
			<div class="col-sm-4"><a href="../assets/img/server/Shoko-Server-Select-Database.png" data-lity><img
					src="../assets/img/server/Shoko-Server-Select-Database.png" class="img-responsive img-thumbnail"
					alt="Shoko Server - Select Database"/></a>
				<figcaption>Shoko Server - Select Database</figcaption>
			</div>
		</div>
	</section>
</article>