---
layout: main
title: Shoko Desktop 2 - Action Items
excerpt: Information on Action Items in Shoko Desktop 2.
permalink: desktop2/action.html
---
<!-- Main content -->
<article class = "col-md-9 col-sm-9 main-content" role = "main">
		<header>
				<ol class = "breadcrumb">
						<li><a href = "{{ site.url }}">Home</a></li>
						<li class = "active">{{ page.title }}</li>
				</ol>
				<h1>{{ page.title }}</h1>
				<p>Information on Action Items in Shoko Desktop 2.</p>
				<p>Last Updated: <strong>{{ site.time | date:"%Y-%m-%d" }}</strong></p>
		</header>

		<section>
				<h2 id = "queue-processor">Action Items Overview</h2>
				<div class = "row">
						<div class = "col-sm-8">
								<p>Action Items are a combination of configurable items that require the users attention to resolve. While primarily designed to alert the user to
										import issues, plugin developers can create an action item type that will be tracked and alert the user when needed. Below is a list of the
										default action item types which can be enabled/disabled in the settings section.</p>
								<h4>Default Action Items</h4>
								<ul>
										<li>Unrecognized Files</li>
										<li>Multiple Files</li>
										<li>Duplicate Files</li>
								</ul>
						</div>
						<div class = "col-sm-4">
								<p><strong>Sorry! No mockup available.</strong></p>
						</div>
				</div>
		</section>

</article>
<!-- END Main content -->

<!-- Sidebar -->
<aside class = "col-md-3 col-sm-3 sidebar">

		<ul class = "sidenav dropable sticky">

				{% include _sidebar_d2.html %} {% include _sidebar_end.html %}