---
layout: main
title: Shoko Desktop 2 - Frame
excerpt: Information on Shoko Desktop 2, our new desktop program being built
permalink: desktop2/frame.html
---
<!-- Main content -->
<article class = "col-md-9 col-sm-9 main-content" role = "main">
		<header>
				<ol class = "breadcrumb">
						<li><a href = "{{ site.url }}">Home</a></li>
						<li class = "active">{{ page.title }}</li>
				</ol>
				<h1>{{ page.title }}</h1>
				<p>Overview of the Shoko Desktop 2 Frame.</p>
				<p>Last Updated: <strong>{{ site.time | date:"%Y-%m-%d" }}</strong></p>
		</header>
		<section>
				<h2 id = "frame">Frame Overview</h2>
				<div class = "row">
						<div class = "col-sm-8">
								<p>The <strong>Collapsed Frame</strong>, as seen in the image on the right is the default look for Shoko Desktop V2. The <strong>side-menu</strong>
										is in its collapsed state giving the <strong>Content Area</strong> more display space. Users can toggle the <strong>Extended Frame</strong>
										by clicking the toggle button located at the bottom of the <strong>side-menu</strong>. Please note this button is not currently shown in the
										mockups as the <strong>Settings</strong> button is shown at the bottom. </p>
								<p>The minimum supported resolution for Shoko Desktop 2 is 1366X768, users with higher resolutions will be able to use the Extended Frame without
										losing display space for the Content Area.</p>
								<h4>Top Bar</h4>
								<p>The
										<stromg>Top Bar</stromg>
										is a fixed global bar that contains the following items.
								<table class = "table table-striped">
										<thead>
										<tr>
												<th>Item</th>
												<th>Description</th>
										</tr>
										</thead>
										<tbody>
										<tr>
												<td width = "30%">Queue Processor Count</td>
												<td>Visual indicator representing how many queued items there are to process. This number does include items currently being
														processed but since its shown as a single number, we assume they are remaining items and add them to the list.
												</td>
										</tr>
										<tr>
												<td>Action Items Count</td>
												<td>Visual indicator representing how many issues need your attention. Action Items represent a task where user intervention is
														required, these include but are not limited to Unrecognized Items, Multiple Files and Duplicate Files.
												</td>
										</tr>
										<tr>
												<td>Pinned Button</td>
												<td>When clicked, shows the pinned slide-out pinned list.</td>
										</tr>
										<tr>
												<td>Search Button</td>
												<td>When clicked, shows the pinned slide-down search menu.</td>
										</tr>
										<tr>
												<td>Discord Button</td>
												<td>When clicked, will open our Discord server in your browser.</td>
										</tr>
										<tr>
												<td>About Button</td>
												<td>When clicked, will show the About window with program relevant information.</td>
										</tr>
										<tr>
												<td>Minimize Button</td>
												<td>When clicked, will minimize the program.</td>
										</tr>
										<tr>
												<td>Maximize Button</td>
												<td>When clicked, will maximize the program, clicking it again will return the window to its previous size. </td>
										</tr>
										<tr>
												<td>Exit Program Button</td>
												<td>When clicked, will close the program.</td>
										</tr>
										</tbody>
								</table>
								<h4>Side-Menu</h4>
								<p>The Side-Menu is a fixed global menu that allows the user to switch to the various sections. Please note that while displayed, the User Avatar does nothing.</p>
								<table class = "table table-striped">
										<thead>
										<tr>
												<th>Item</th>
												<th>Description</th>
										</tr>
										</thead>
										<tbody>
										<tr>
												<td width = "30%">Dashboard</td>
												<td>Takes the user to the Dashboard section.</td>
										</tr>
										<tr>
												<td>Collection</td>
												<td>Takes the user to the Collection section.</td>
										</tr>
										<tr>
												<td>Calender</td>
												<td>Takes the user to the Calender section.</td>
										</tr>
										<tr>
												<td>My Lists</td>
												<td>Takes the user to the My Lists section.</td>
										</tr>
										<tr>
												<td>Playlists</td>
												<td>Takes the user to the Playlists section.</td>
										</tr>
										<tr>
												<td>Utilities</td>
												<td>Takes the user to the Utilities section.</td>
										</tr>
										<tr>
												<td>Server</td>
												<td>Takes the user to the Server section.</td>
										</tr>
										<tr>
												<td>Settings</td>
												<td>Shows the Settings overlay on top of the current section.</td>
										</tr>
										<tr>
												<td>User Items</td>
												<td>User defined buttons that allow the user to create custom shortcuts. A maximum amount of 4 user items can be shown.</td>
										</tr>
										<tr>
												<td>Menu Toggle</td>
												<td>When toggled, changed the frame type.</td>
										</tr>
										</tbody>
								</table>
						</div>
						<div class = "col-sm-4">
								<figure><a
										href = "/assets/img/desktop2/Frame - Collapsed.png" data-lity><img class = "img-responsive img-thumbnail"
										src = "/assets/img/desktop2/Frame - Collapsed.png" alt = "Shoko Desktop 2 - Frame Collapsed"/></a>
										<figcaption>Shoko Desktop 2 - Frame Collapsed</figcaption>
								</figure>
								<figure><a
										href = "/assets/img/desktop2/Frame - Extended.png" data-lity><img class = "img-responsive img-thumbnail"
										src = "/assets/img/desktop2/Frame - Extended.png" alt = "Shoko Desktop 2 - Frame Extended"/></a>
										<figcaption>Shoko Desktop 2 - Frame Extended</figcaption>
								</figure>
						</div>
				</div>
		</section>

</article>
<!-- END Main content -->

<!-- Sidebar -->
<aside class = "col-md-3 col-sm-3 sidebar">

		<ul class = "sidenav dropable sticky">

				{% include _sidebar_d2.html %} {% include _sidebar_end.html %}