---
layout: main
title: Shoko Desktop 2
excerpt: Information on Shoko Desktop 2, our new desktop program being built
permalink: desktop2/index.html
---

<!-- Main content -->
<article class = "col-md-9 col-sm-9 main-content" role = "main">
		<header>
				<ol class = "breadcrumb">
						<li><a href = "{{ site.url }}">Home</a></li>
						<li class = "active">{{ page.title }}</li>
				</ol>
				<h1>{{ page.title }}</h1>
				<p>Information on Shoko Desktop 2, our new desktop program being built.</p>
		</header>

		<section>
				<h2 id = "info">What is Shoko Desktop 2?</h2>
				<p>Shoko Desktop 2, also known as <strong>ClientV2</strong> and <strong>DesktopV2</strong> is the next version of Shoko Desktop we are creating. Unlike the current
						iteration of Desktop which is built with C# and uses WPF for the UI, we'll be using <a href = "https://electron.atom.io">Electron</a> which allows us to
						create a desktop program using web languages.With a complete overhaul of the UI and underlying code, we'll be able to overcome currently present limitations
						as well as make continued development and contributions from outside sources much easier.</p>
		</section>

		<section>
				<h2 id = "stages">Development Stages</h2>
				<p>We currently do not have an ETA for when Shoko Desktop 2 Version 1.00 will be out. </p>
				<p>We've broken our development cycle into multiple stages to allow our users to better track our progress. Please note, these development stages are not equal so
						we cannot provide a time breakdown for each one.</p>
				<ul>
						<li>Initial Plans & Mockups</li>
						<li>Finalize Plans & Mockups</li>
						<li>Initial Framework Coding</li>
						<li>Section Coding</li>
						<li>Section Finalizing</li>
						<li>CSS Finalizing</li>
				</ul>
				<p>Current Stage: <strong>Finalize Plans & Mockups</strong></p>
		</section>

		<section>
				<h2 id = "help">Looking To Help?</h2>
						<p>Shoko is a completely volunteer project maintained by a small group of developers with assistance from it’s community. As with most open-source and
								volunteer projects, time is the most precious commodity with all work being done for free and thus we’re always looking for users who are eager to
								help out.</p>
		</section>

</article>
<!-- END Main content -->

<!-- Sidebar -->
<aside class = "col-md-3 col-sm-3 sidebar">

		<ul class = "sidenav dropable sticky">

				{% include _sidebar_d2.html %} {% include _sidebar_end.html %}