---
layout: main
title: Shoko Desktop 2 - Pinned List
excerpt: Information on the Pinned List in Shoko Desktop 2.
permalink: desktop2/pinned.html
---
<!-- Main content -->
<article class = "col-md-9 col-sm-9 main-content" role = "main">
		<header>
				<ol class = "breadcrumb">
						<li><a href = "{{ site.url }}">Home</a></li>
						<li class = "active">{{ page.title }}</li>
				</ol>
				<h1>{{ page.title }}</h1>
				<p>Information on the Pinned List in Shoko Desktop 2.</p>
				<p>Last Updated: <strong>{{ site.time | date:"%Y-%m-%d" }}</strong></p>
		</header>

		<section>
				<h2 id = "queue-processor">Pinned List Overview</h2>
				<div class = "row">
						<div class = "col-sm-8">
								<p>While similar to <strong>Shoko Lists</strong>, the Pinned list is designed as a quick look list for the users immediate need. When clicked, a
										pinned item will take the user directly to the series and will not be removed from the Pinned List until the users clicks the
										<strong>Unpin Button</strong>
										below the series image. Additionally, the pinned series can be added to a Shoko List by clicking the <strong>Add to Shoko List Button</strong>.
								</p>
								<p>As an overlay, the Pinned List can be displayed over any section and is automatically closed when the user clicks outside the Pinned List area.
										If the user has more items pinned than can be displayed, the user will be able to scroll through the list. At this time it's undecided if
										there will be a limit to the amount of pinned series there can be. Users will also be able to pin series not in their collection.</p>
						</div>
						<div class = "col-sm-4">
								<figure><a
										href = "/assets/img/desktop2/Pinned.png" data-lity><img class = "img-responsive img-thumbnail"
										src = "/assets/img/desktop2/Pinned.png" alt = "Shoko Desktop 2 - Pinned"/></a>
										<figcaption>Shoko Desktop 2 - Pinned</figcaption>
								</figure>
						</div>
				</div>
		</section>

</article>
<!-- END Main content -->

<!-- Sidebar -->
<aside class = "col-md-3 col-sm-3 sidebar">

		<ul class = "sidenav dropable sticky">

				{% include _sidebar_d2.html %} {% include _sidebar_end.html %}