---
layout: main
title: Shoko Desktop 2 - Search  List
excerpt: Information on the Search List in Shoko Desktop 2.
permalink: desktop2/search.html
---
<!-- Main content -->
<article class = "col-md-9 col-sm-9 main-content" role = "main">
		<header>
				<ol class = "breadcrumb">
						<li><a href = "{{ site.url }}">Home</a></li>
						<li class = "active">{{ page.title }}</li>
				</ol>
				<h1>{{ page.title }}</h1>
				<p>Information on the Pinned Search in Shoko Desktop 2.</p>
				<p>Last Updated: <strong>{{ site.time | date:"%Y-%m-%d" }}</strong></p>
		</header>

		<section>
				<h2 id = "queue-processor">Search List Overview</h2>
				<div class = "row">
						<div class = "col-sm-8">
								<p>The Search function can be activated by clicking the <strong>Search Button</strong> on the Top Bar. When clicked the search line expands allowing
										the user to type in what they are searching for. As they type the search box below is populated with results. Users will be able to
										fine-tune search by using a built-in filter system, for example to search for <strong>Naruto</strong> but exclude the movies you would type
										in <strong>Naruto -Movie</strong>. Please note, the built-in filter system has not been finalized and is subject to change.</p>
								<p>As an overlay, the Search List can be displayed over any section and is automatically closed when the user clicks outside the Pinned List area.
										Results are shown in a compressed format and expand on hover which is shown in action in the mockup on the right. If the users search
										returns more results then can be shown, the user can scroll through the list.</p>
						</div>
						<div class = "col-sm-4">
								<figure><a
										href = "/assets/img/desktop2/Search.png" data-lity><img class = "img-responsive img-thumbnail"
										src = "/assets/img/desktop2/Search.png" alt = "Shoko Desktop 2 - Search"/></a>
										<figcaption>Shoko Desktop 2 - Search</figcaption>
								</figure>
						</div>
				</div>
		</section>

</article>
<!-- END Main content -->

<!-- Sidebar -->
<aside class = "col-md-3 col-sm-3 sidebar">

		<ul class = "sidenav dropable sticky">

				{% include _sidebar_d2.html %} {% include _sidebar_end.html %}