---
layout: main
---

<main class = "main-content">
	<div class = "container">
		<div class = "row">

			<!-- Sidebar -->
			<div class = "col-md-2 col-xl-2 order-last order-md-first">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
					{% include _sidebar.html %}
				</aside>
			</div>

			<!-- Content -->
			<div class = "col-md col-xl m2-md-auto py-8">
				<article>
					<h1>{{ page.title }}</h1>
					<p class = "lead">{{ page.lead }}</p>

					<hr class = "my-6">

					{{ content }}

					{% include _github_callout.html %}

				</article>
			</div>

			{% if page.sidebar %}
			<div class = "col-md-2 col-xl-2 right-sidebar">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky">
					<nav class = "nav nav-toc-2 mt-3" data-accordion = "true">
						{% for sidelink in page.sidebar %}
						<a class = "nav-link sidenav-title">{{ sidelink.name }}</a>
						{% for sublink in sidelink.items %}
						<a class = "nav-link" href = "#{{ sublink.tag }}">{{ sublink.name }}</a>
						{% endfor %}
						{% endfor %}
					</nav>
				</aside>
			</div>

			{% endif %}

		</div>
	</div>
</main>