
<!DOCTYPE html>
<html lang="en">
<head>
{% include _head.html %}
</head>

<body>
<header class="site-header">
{% include _navbar.html %}
</header>
<main class="container-fluid">
	<div class="row">

		<!-- Sidebar -->
		<aside class="col-lg-2 col-md-3 col-sm-3 sidebar">
			<ul class="sidenav dropable sticky">
				<li><a href="server/index.html">Shoko Server</a></li>
				<li><a href="#">Shoko Desktop</a></li>
				<li><a href="#">My Anime 3</a></li>
				<li><a href="#">Shoko on Plex</a></li>
				<li><a href="#">Anime Buddy</a></li>
				<li class="hr-menu">
					<hr>
				</li>
				<li><a href="faq.html">Frequently Asked Questions</a></li>
				<li><a href="changelog.html">Changelog</a></li>
			</ul>
		</aside>
		<!-- END Sidebar -->

		<!-- Main content -->
		<article class="col-lg-10 col-md-9 col-sm-9 main-content" role="main">
			 {{ content }}
		</article>
		<!-- END Main content -->
	</div>
</main>

{% include _footer.html %}
{% include _script_footer.html %}
</body>
</html>