---
layout: main
title: Shoko  Server - Installing and Setting Up SQLite
permalink: server/db/sqlite.html
---


<!-- Main content -->
<article class = "col-md-9 col-sm-9 main-content" role = "main">
		<header>
				<ol class = "breadcrumb">
						<li><a href = "{{ site.url }}">Home</a></li>
						<li class = "active">{{ page.title }}</li>
				</ol>
				<h1>Installing and Setting Up SQLite</h1>
				<p>Installing and setting up MySQL for use with Shoko Server.</p>
		</header>
		<section>
				<h2 id = "why-sqlite">Why SQLite</h2>
				<p>SQLite is the easiest of the three database types to setup with its one-click setup, its designed for users who want to avoid additional database setup and are
						OK with the default database settings. The slow response times and problems with multiprocessing that are common with SQLite databases have been mitigated
						with the built-in cache system
				</p>
		</section>
		<section>
				<h2 id = "sqlite-install">SQLite Installation</h2>
				<p>No requirements are needed to perform a SQLite Installation. If you believe your collection will contain less than 200 series,
						you may continue with the installation of Shoko Server.
				</p>
				<p>If you have encountered an issue and wish to reset your SQLite database, then it is as simple as deleting the JMMServer.db3 file.</p>
				<table class = "table table-striped">
						<tr>
								<th>Location</th>
								<th>Options</th>
								<th>Notes</th>
						</tr>
						<tr>
								<td>"C:\ProgramData\ShokoServer\SQLite\JMMServer.db3"</td>
								<td>N/A</td>
								<td>Default location for SQLite Database.</td>
						</tr>
				</table>
		</section>

		<section class = "github-callout">
				<div class = "callout callout-info" role = "alert">
						<h4>Help Make This Page Better</h4>
						<p>Have an idea to improve this page? Is the material incorrect or outdated? Don't wait for us to notice it and update it, instead make the update yourself
								so the
								community can benefit from it.</p>
						<a href = "https://github.com/shokoanime/ShokoDocs/blob/master/server/db/sqlite.html" target = "_blank">Installing and Setting Up SQLite</a>
				</div>
		</section>
</article>


<!-- Sidebar -->
<aside class = "col-md-3 col-sm-3 sidebar">

		<ul class = "sidenav dropable sticky">
				<li><a href = "#why-sqlite">Why SQLite</a></li>
				<li><a href = "#sqlite-install">SQLite Installation</a></li>
				<li class = "hr-menu">
						<hr/>
				</li>

				{% include _sidebar.html %} {% include _sidebar_end.html %}
