<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">

		{{ $tabsTotal := .Get "tabsTotal" }}
		{{ range $i, $sequence := (seq $tabsTotal) }}

		{{ $tabID := (print "tabID" $sequence) }}
		{{ $tabName := (print "tabName" $sequence) }}

		{{ if eq $sequence 1 }}

		<a class="nav-item nav-link active" id="{{ $tabName }}" data-toggle="tab" href="#{{ $tabID }}" role="tab"
		   aria-controls="nav-home" aria-selected="true">{{ $.Get "tabName" }}</a>

		{{ else }}

		<a class="nav-item nav-link" id="{{ $tabName }}" data-toggle="tab" href="#{{ $tabID }}" role="tab"
		   aria-controls="nav-home" aria-selected="false">{{ $.Get $tabName }}</a>

		{{ end }}
		{{ end }}

	</div>
</nav>

{{ .Inner }}