---
layout: main
title: Shoko Desktop
permalink: desktop/index.html
---


<!-- Main content -->
<article class="col-md-9 col-sm-9 main-content" role="main">
	<header>
		<h1>Shoko Desktop</h1>
		<p>The following documentation covers how to install, setup and use Shoko Desktop. </p>
		<script language="javascript" src="../assets/js/breadnav.js"></script>
	</header>
	<section>
		<h2 id="whats-covered">Shoko Desktop Documentation</h2>
		<p>With Shoko Desktop, you have complete control over every aspect of your anime collection. Using the built-in
			collection viewer, you can arrange and organization how the series in your collection are named and displayed.
			Group related series and even create custom filters based on a number of different criteria. Shoko Desktop also
			provides over a variety of tools to further modify your collection to your own unique style, without having to
			learn to code or manually make changes.</p>
		<p><a href="http://shokoanime.com/shoko-desktop/" target="_blank">Learn More About Shoko Desktop</a>
		</p>
	</section>
</article>

<!-- Sidebar -->
<aside class="col-md-3 col-sm-3 sidebar">

		<ul class="sidenav dropable sticky">
				<li><a href="#actions-info">What Is The Actions Tab?</a></li>
				<li><a href="#actions">Available Actions</a></li>
				<li class="hr-menu">
						<hr/>
				</li>

				{% include _sidebar.html %} {% include _sidebar_end.html %}