---
layout: main
title: Shoko Desktop - Windows Setup
excerpt: How to install Shoko Desktop on Windows.
permalink: desktop/install_windows.html
---

<main class = "main-content">
	<div class = "container">
		<div class = "row">

			<!--
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			| Sidebar
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			!-->

			<div class = "col-md-2 col-xl-2 order-last order-md-first">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
					{% include _sidebar.html %}
				</aside>
			</div>

			<!--
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  | Content
			  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			  !-->

			<div class = "col-md col-xl m2-md-auto py-8">
				<article>

					<h1>{{ page.title }}</h1>
					<p class = "lead">This guide is designed to get Shoko Desktop installed and properly setup so you can start importing and organizing your
						anime collection.</p>

					<hr class = "my-6">

					<section>

						<h2 id = "mandatory">Do I Need To Install Shoko Desktop?</h2>
						<p>The short answer is <strong>Yes</strong>.</p>

						<p>Shoko Desktop is the front-end that is used to manage the Shoko environment. While the WebUI is progressing, the desktop is still your first
							and best place to go to to manage Shoko. 
						</p>
						<p>Shoko Desktop is also not a standalone system, it requires you to run Shoko Desktop on another (or the same) device. 
						Think of Shoko Desktop as an interface for the magic the server portion does!</p>


					</section>

					<section>

						<h2 id = "install">Installing Shoko Desktop</h2>

						<p>If you haven't already done so, you'll need to download and install  <a href = "/server/install_windows.html"
								target = "_blank" rel = "noopener"> Shoko Server</a>.
							Without Shoko Server, Desktop is dead in the water.</p>
						<p>The installation process is straight forward. You install Desktop like any other application. If you haven't already download the client from the 
							<a href = "https://shokoanime.com/downloads/#shoko-desktop" target = "_blank" rel = "noopener">Shoko Website</a>.
							Afterwards, run the EXE that's in the ZIP file, you might have to run this as Administrator, however afterwards you will be able to run it as a normal user. 



						</p>




						<h2 id = "first-run">First Run</h2>

						<div class = "row">
							<div class = "col-xl-8 col-sm-12">


								<p>With Shoko Server and Desktop installed you can run the Desktop client. The first thing you will be asked for is to input the IP your server is hosted on. </p>
								<p>Fill in the IP of the server you are using, this could be the same device, or a remote server. After that press "Test and Save"</p> 
								<p>A login field will pop up, by default you can use the username "Default" and an empty password to log in.</p>
								<p> <img width="30%" src = "/assets/img/desktop/Shoko-Desktop-FirstRun2.png" /> </p>
								<p>If everything went well, you should now be on the Settings page of the desktop. Congratulations! </p>

							</div>

							<div class = "col-xl-4 col-sm-12">

								<a href = "/assets/img/desktop/Shoko-Desktop-FirstRun.png" data-lightbox = "image-1"><img
										src = "/assets/img/desktop/Shoko-Desktop-FirstRun.png" class = "img-fluid" alt = "Shoko Desktop - Settings Login Tab"></a>
								<a href = "/assets/img/desktop/Shoko-Desktop-FirstRun3.png" data-lightbox = "image-1"><img
										src = "/assets/img/desktop/Shoko-Desktop-FirstRun3.png" class = "img-fluid" alt = "Shoko Desktop - Settings Tab"></a>

							</div>
						</div>


					{% include _github_callout.html %}

				</article>
			</div>

			<div class = "col-md-2 col-xl-2 right-sidebar">
				<hr class = "d-md-none">
				<aside class = "sidebar sidebar-sticky">
					<nav class = "nav nav-toc-2 mt-3" data-accordion = "true">
						<a class = "nav-link" href = "#mandatory">Is Shoko Desktop Mandatory?</a>
						<a class = "nav-link" href = "#install">Installing Shoko Desktop</a>
						<a class = "nav-link" href = "#first-run">First Run</a>
					</nav>
				</aside>
			</div>

		</div>
	</div>
</main>
